<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
    <div class="row">
        <div class="col-12 col-lg-2">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-12 col-lg-10">
            <div class="row">
                <div class="col-12 big-container pb-4">
                    <div class="row mt-2">
                        <div #content class="custom-container">
                            <div class="table-container">
                                <table class="logo-table text-bold">
                                    <tr>
                                        <td>
                                            <img src="../../../../assets/logo.png" alt=""> Vandana Convent School,Guna
                                        </td>
                                    </tr>
                                </table>
                                <table class="info-table">
                                    <tr>
                                        <td>
                                            School Code : 2832
                                        </td>
                                        <td>
                                            School Fee Statement - 2023
                                        </td>
                                        <td>
                                            Affiliation No. : 1050
                                        </td>
                                    </tr>
                                </table>
                                <table class="custom-table">
                                    <tr>
                                        <td class="text-bold">Result No.</td>
                                        <td>12345</td>
                                        <td class="text-bold">Roll Number</td>
                                        <td>{{studentFeesCollection?.rollNumber}}</td>
                                        <td class="text-bold">Class</td>
                                        <td>{{studentFeesCollection?.class}}th</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">Student Name</td>
                                        <td>{{studentFeesCollection?.name | titlecase}}</td>
                                        <td class="text-bold">Father Name</td>
                                        <td>Narendra Dhakad</td>
                                        <td class="text-bold">Mother Name</td>
                                        <td>Manisha Dhakad</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">Total Fee</td>
                                        <td>&#8377; {{studentFeesCollection?.totalFees}}</td>
                                        <td class="text-bold">Paid Fee</td>
                                        <td>&#8377; {{studentFeesCollection?.paidFees}}</td>
                                        <td class="text-bold">Due Fee</td>
                                        <td>&#8377; {{studentFeesCollection?.dueFees}}</td>
                                    </tr>
                                </table>
                                <table class="custom-table">
                                    <tr>
                                        <th>Particulars</th>
                                        <ng-container *ngFor="let item of clsFeesStructure?.feesType,let i = index">
                                            <th style="font-weight: normal;" *ngFor="let fee of item | keyvalue">
                                                {{ fee.key}} Fee</th>
                                        </ng-container>
                                    </tr>
                                    <tr>
                                        <th>Fee Amount</th>
                                        <ng-container *ngFor="let item of clsFeesStructure?.feesType,let i = index">
                                            <th style="font-weight: normal;" *ngFor="let fee of item | keyvalue">
                                                &#8377; {{ fee.value}}</th>
                                        </ng-container>
                                    </tr>
                                </table>
                                <table class="custom-table">
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Receipt No.</th>
                                        <th>Fee Stallment</th>
                                        <th>Paid Amount</th>
                                        <th>Fee Receipt</th>
                                    </tr>
                                    <tr *ngFor="let item of studentFeesCollection?.stallment,let i = index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td *ngFor="let fee of item | keyvalue">
                                            <p *ngIf="fee.value!==0">12345</p>
                                            <p *ngIf="fee.value==0">N/A</p>
                                        </td>
                                        <td *ngFor="let fee of item | keyvalue">
                                            {{ fee.key}}
                                        </td>
                                        <td *ngFor="let fee of item | keyvalue">
                                            &#8377; {{ fee.value }}
                                        </td>
                                        <td *ngFor="let fee of item | keyvalue">
                                            <mat-icon *ngIf="fee.value !==0">launch</mat-icon>
                                            <p class="mb-0" *ngIf="fee.value==0">Panding</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary print-pdf" (click)="downloadPDF()">Download PDF</button>
                        <button class="btn btn-primary m-5 print-pdf" (click)="printContent()">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>