@import'../../../../styles.css';

a{
  color: #8c88ff;font: 1.1em sans-serif;text-decoration: none;
}
.table {
   min-width: 100%;
   height: auto;
   display: block;
   overflow-y: auto;
   overflow-x: auto;
}
th {
   white-space: nowrap;
}
.abc tbody, td, tfoot, th, thead, tr{
   border-bottom: none;
}


@media (min-width: 992px) {
   
   .table {
      display: inline-table;
      min-width: 100%;
      height: auto;
   }
}

   