<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="padding-top: 1.75vh;">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 big-container">
          <div class="col-12 col-lg-10 offset-lg-1">
            <div class="main-card">
              <div *ngFor="let blogListDetail of blogListDetails">
                <div class="blog-list-card">
                  <button style="cursor: pointer;" mat-raised-button>{{blogListDetail.subject}} {{blogListDetail.class}}</button>
                  <h2 style="cursor: pointer;" routerLink="/single/blog">{{blogListDetail.title | titlecase}}</h2>
                  <h3 style="color: #c0b9e0;font-size: 15px;font-weight: 200;">{{blogListDetail.date}} | {{blogListDetail.creator}}</h3>
                  <div routerLink="/single/blog">
                    <p>{{blogListDetail.content | slice: 0: 150}}...<span style="cursor: pointer;color: #c0b9e0;font-weight: 400;" routerLink="/single/blog/{{blogListDetail._id}}">Read More</span></p>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>