.login {
  background-color: #64748d0c;
  padding-top: 10vh;
  padding-left: 2%;
  padding-right: 2%;
}
.login-card{
  background-color: #fff;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: none;
 }
 .login-card button{
  width: 100%;
 }
h3 {
  color: #7d719bc7;
  padding-bottom: 2vh;
  letter-spacing: .6px;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  color: rgb(228, 64, 154);
}

p {
  color: #7d719bc7;
  margin-top: 2vh;
  letter-spacing: .25px;
  font-size: 16px;
  margin-bottom: 5px;
}

a {
  color: #503c8a;
  text-decoration: none;
}

@media(min-width:1200px){
  .login{
  padding-left: 2%;
  padding-right: 2%;
  }
.login-card{
  margin-top: 2vh;
  margin-left: 30%;
  margin-bottom: 10vh;
 border-radius: 15px;
 border: 1px solid rgba(218, 218, 224, 0.858);
}
.login-card button{
  width: auto;
 }
}