.container {
  padding-top: 10vh;
}
.login-card{
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 10vh;
  box-shadow: none;
 }
 .login-card button{
  width: 100%;
 }
h3 {
  color: #7d719bc7;
  padding-bottom: 2vh;
  letter-spacing: .6px;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  color: rgb(228, 64, 154);
}

p {
  color: #7d719bc7;
  margin-top: 2vh;
  letter-spacing: .25px;
  font-size: 16px;
  margin-bottom: 5px;
}

a {
  color: #503c8a;
  text-decoration: none;
}

@media(min-width:1200px){
.login-card{
 border-radius: 15px;
 box-shadow: 0 0 0px -10px #4f3c8a3c,
      0 0 0 0px #4f3c8a3c,
      0 0 50px 0 #4f3c8a3c;
}
.login-card button{
  width: auto;
 }
}