<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 big-container">
          <div class="col-lg-12 offset-lg-0">
            <div class="main-card">
              <div class="row mt-4 mb-2">
                <div class="col-12 radio-btn-mobile mb-3">
                  <mat-radio-group (change)="onChange($event)">
                    <mat-radio-button [value]="0" [checked]="selectedValue==0">Single Create</mat-radio-button>
                    <mat-radio-button [value]="1" [checked]="selectedValue==1">Bulk Import</mat-radio-button>
                    <mat-radio-button [value]="2" [checked]="selectedValue==2">Bulk Export</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-8 col-lg-5 mb-2">
                  <input type="text" class="form-control" placeholder="Student Search..." id="searchText"
                    name="searchText" #searchText="ngModel" [(ngModel)]="filters.searchText"
                    (keyup)="getStudents({page : 1, limit : 0})">
                </div>
                <div class="col-9 col-lg-5 radio-btn-desktop mt-2">
                  <mat-radio-group (change)="onChange($event)">
                    <mat-radio-button [value]="0" [checked]="selectedValue==0">Single Create</mat-radio-button>
                    <mat-radio-button [value]="1" [checked]="selectedValue==1">Bulk Import</mat-radio-button>
                    <mat-radio-button [value]="2" [checked]="selectedValue==2">Bulk Export</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-4 col-lg-2">
                  <button *ngIf="selectedValue==0" class="submit-button" mat-raised-button
                    (click)="addStudentModel()"><mat-icon>add</mat-icon>Create</button>
                  <button *ngIf="selectedValue==1" class="submit-button" mat-raised-button
                    (click)="addBulkStudentImportModel()"><mat-icon>add</mat-icon>Import</button>
                  <button *ngIf="selectedValue==2" class="submit-button" mat-raised-button
                    (click)="addBulkStudentExportModel()"><mat-icon>cloud_download</mat-icon> Export</button>
                </div>
              </div>
              <table class="table table-hover align-middle mb-1 bg-white">
                <thead class="bg-light">
                  <tr class="text-muted">
                    <th>No.</th>
                    <th>Student</th>
                    <th>Class</th>
                    <th>Admission No.</th>
                    <th>Roll Number</th>
                    <th>Otp</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="studentInfo && studentInfo.length>0">
                  <tr *ngFor="let students of studentInfo,let i=index">
                    <td>
                      <p class="mb-0">{{number*10+i+1-10}}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{students.name}}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{students.class | classSuffix}}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{students.admissionNo}}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{students.rollNumber}}</p>
                    </td>
                    <td>
                      <p class="mb-0">{{students.otp}}</p>
                    </td>
                    <td>
                      <a class="mb-0 status-active" (click)="changeStatus(students._id,0)"
                        *ngIf="students.status == 'Active'"
                        href="javascript:void(0)">{{students.status}}&nbsp;&nbsp;</a>
                      <a class="mb-0 status-inactive" (click)="changeStatus(students._id,1)"
                        *ngIf="students.status == 'Inactive'" href="javascript:void(0)">{{students.status}}</a>
                    </td>
                    <td class="mb-0">
                      <mat-icon (click)="updateStudentModel(students)">edit_note</mat-icon>
                      <mat-icon (click)="deleteStudentModel(students._id)">delete</mat-icon>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class="pagination">
                <app-pagination [paginationValues]="paginationValues" (onChange)="getStudents($event)">
                </app-pagination>
              </div>

              <div class="modal fade show" [class.show]="showModal">
                <div class="modal-dialog modal-dialog-scrollable" [class.modal-lg]="!deleteMode">
                  <div class="modal-content" *ngIf="successMsg">
                    <div class="modal-header">
                      <h5 class="modal-title" style="color: transparent;">&nbsp;</h5>
                    </div>
                    <div class="modal-body">
                      <p class="success-message">{{successMsg}}</p>
                    </div>
                    <div class="modal-footer">
                      <mat-icon></mat-icon>
                    </div>
                  </div>

                  <div class="modal-content" *ngIf="!successMsg">
                    <div class="modal-header">
                      <h5 class="modal-title">{{updateMode?'Update': deleteMode ? 'Delete' :'Create New'}} Student</h5>
                      <mat-icon matRipple (click)="closeModal()">close</mat-icon>
                    </div>

                    <form [formGroup]="studentForm" (ngSubmit)="studentAddUpdate()">
                      <div class="modal-body" *ngIf="!deleteMode">

                        <div *ngIf="errorCheck">
                          <p class="error-message">{{errorMsg}}</p>
                        </div>

                        <div class="container">

                          <div class="row">
                            <ng-container>
                              <h3>Academic Info</h3>
                            </ng-container>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Session</mat-label>
                                <mat-select type="text" matInput formControlName="session">
                                  <div *ngFor="let session of sessions">
                                    <mat-option value="{{session.year}}">{{session.year}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('session')?.valid && studentForm.get('session')?.touched"
                                  class="form-text text-danger">Session is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Last School Optional</mat-label>
                                <input matInput type="text" formControlName="lastSchool">
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>class</mat-label>
                                <mat-select matInput formControlName="class">
                                  <div *ngFor="let classInfo of classInfo">
                                    <mat-option [value]="classInfo.class"
                                      (click)="chooseClass(studentForm.get('class'))">{{classInfo.class |
                                      classSuffix}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint *ngIf="!studentForm.get('class')?.valid && studentForm.get('class')?.touched"
                                  class="form-text text-danger">Class is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Stream</mat-label>
                                <mat-select type="text" matInput formControlName="stream">
                                  <ng-container *ngIf="cls==12 || cls==11">
                                    <div *ngFor="let subject of streamMainSubject">
                                      <mat-option (click)="chooseStream(studentForm.get('stream'))"
                                        value="{{subject}}">{{subject}}</mat-option>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngIf="cls<11 && cls!==0">
                                    <div>
                                      <mat-option value="{{notApplicable}}"
                                        (click)="chooseStream(studentForm.get('stream'))">N/A</mat-option>
                                    </div>
                                  </ng-container>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('stream')?.valid && studentForm.get('stream')?.touched"
                                  class="form-text text-danger">Stream is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Admission Type</mat-label>
                                <mat-select type="text" matInput formControlName="admissionType">
                                  <div>
                                    <mat-option value="new"
                                      (click)="chooseAdmissionType(studentForm.get('admissionType'))">New
                                      Admission</mat-option>
                                    <mat-option value="old"
                                      (click)="chooseAdmissionType(studentForm.get('admissionType'))">Old
                                      Admission</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('admissionType')?.valid && studentForm.get('admissionType')?.touched"
                                  class="form-text text-danger">Admission type is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6" *ngIf="admissionType !=='new' && admissionType !=='old'">
                              <mat-form-field appearance="outline">
                                <mat-label>Admission No.</mat-label>
                                <input matInput readonly>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6" *ngIf="admissionType=='new'">
                              <mat-form-field appearance="outline">
                                <mat-label>Admission No.</mat-label>
                                <input matInput type="number" formControlName="admissionNo" readonly>
                                <mat-hint
                                  *ngIf="!studentForm.get('admissionNo')?.valid && studentForm.get('admissionNo')?.touched"
                                  class="form-text text-danger">Admission no. is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6" *ngIf="admissionType=='old'">
                              <mat-form-field appearance="outline">
                                <mat-label>Admission No.</mat-label>
                                <input matInput type="number" formControlName="admissionNo">
                                <mat-hint
                                  *ngIf="!studentForm.get('admissionNo')?.valid && studentForm.get('admissionNo')?.touched"
                                  class="form-text text-danger">Admission no. is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <ng-container>
                              <h3>Student Info</h3>
                            </ng-container>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" formControlName="name">
                                <mat-hint *ngIf="!studentForm.get('name')?.valid && studentForm.get('name')?.touched"
                                  class="form-text text-danger">Name is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Roll Number</mat-label>
                                <input matInput type="number" formControlName="rollNumber">
                                <mat-hint
                                  *ngIf="!studentForm.get('rollNumber')?.valid && studentForm.get('rollNumber')?.touched"
                                  class="form-text text-danger">Roll number is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Date of birth</mat-label>
                                <input matInput readonly [matDatepicker]="picker" formControlName="dob" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Gender</mat-label>
                                <mat-select type="text" matInput formControlName="gender">
                                  <div>
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                    <mat-option value="Other">Other</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('gender')?.valid && studentForm.get('gender')?.touched"
                                  class="form-text text-danger">Gender is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select type="text" matInput formControlName="category">
                                  <div *ngFor="let category of categorys">
                                    <mat-option value="{{category.category}}">{{category.category}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('category')?.valid && studentForm.get('category')?.touched"
                                  class="form-text text-danger">Category is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Religion</mat-label>
                                <mat-select type="text" matInput formControlName="religion">
                                  <div *ngFor="let religion of religions">
                                    <mat-option value="{{religion.religion}}">{{religion.religion}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('religion')?.valid && studentForm.get('religion')?.touched"
                                  class="form-text text-danger">Religion is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Nationality</mat-label>
                                <mat-select type="text" matInput formControlName="nationality">
                                  <div>
                                    <mat-option value="Indian">Indian</mat-option>
                                    <mat-option value="Other">Other</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('nationality')?.valid && studentForm.get('nationality')?.touched"
                                  class="form-text text-danger">Nationality is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Contact</mat-label>
                                <input matInput type="text" formControlName="contact">
                                <mat-hint
                                  *ngIf="!studentForm.get('contact')?.valid && studentForm.get('contact')?.touched"
                                  class="form-text text-danger">Contact is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Address</mat-label>
                                <input matInput type="text" formControlName="address">
                                <mat-hint
                                  *ngIf="!studentForm.get('address')?.valid && studentForm.get('address')?.touched"
                                  class="form-text text-danger">Address is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <ng-container>
                              <h3>Parent's Info</h3>
                            </ng-container>
                            <div class="co-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Father Name</mat-label>
                                <input matInput type="text" formControlName="fatherName">
                                <mat-hint
                                  *ngIf="!studentForm.get('fatherName')?.valid && studentForm.get('fatherName')?.touched"
                                  class="form-text text-danger">Father name is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Father Qualification</mat-label>
                                <mat-select type="text" matInput formControlName="fatherQualification">
                                  <div *ngFor="let qualification of qualifications">
                                    <mat-option
                                      value="{{qualification.qualification}}">{{qualification.qualification}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('fatherQualification')?.valid && studentForm.get('fatherQualification')?.touched"
                                  class="form-text text-danger">Father qualification is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Father Occupation</mat-label>
                                <mat-select type="text" matInput formControlName="fatherOccupation">
                                  <div *ngFor="let occupation of occupations">
                                    <mat-option value="{{occupation.occupation}}">{{occupation.occupation}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('fatherOccupation')?.valid && studentForm.get('fatherOccupation')?.touched"
                                  class="form-text text-danger">Father occupation is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Father Contact</mat-label>
                                <input matInput type="text" formControlName="fatherContact">
                                <mat-hint
                                  *ngIf="!studentForm.get('fatherContact')?.valid && studentForm.get('fatherContact')?.touched"
                                  class="form-text text-danger">Father contact is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Father Annual Income</mat-label>
                                <input matInput type="text" formControlName="fatherAnnualIncome">
                                <mat-hint
                                  *ngIf="!studentForm.get('fatherAnnualIncome')?.valid && studentForm.get('fatherAnnualIncome')?.touched"
                                  class="form-text text-danger">Father annual income is required</mat-hint>
                              </mat-form-field>
                            </div>
                            <div class="co-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Mother Name</mat-label>
                                <input matInput type="text" formControlName="motherName">
                                <mat-hint
                                  *ngIf="!studentForm.get('motherName')?.valid && studentForm.get('motherName')?.touched"
                                  class="form-text text-danger">Mother name is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Mother Qualification</mat-label>
                                <mat-select type="text" matInput formControlName="motherQualification">
                                  <div *ngFor="let qualification of qualifications">
                                    <mat-option
                                      value="{{qualification.qualification}}">{{qualification.qualification}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('motherQualification')?.valid && studentForm.get('motherQualification')?.touched"
                                  class="form-text text-danger">Mother qualification is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Mother Occupation</mat-label>
                                <mat-select type="text" matInput formControlName="motherOccupation">
                                  <div *ngFor="let occupation of occupations">
                                    <mat-option value="{{occupation.occupation}}">{{occupation.occupation}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-hint
                                  *ngIf="!studentForm.get('motherOccupation')?.valid && studentForm.get('motherOccupation')?.touched"
                                  class="form-text text-danger">Mother occupation is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Mother Contact</mat-label>
                                <input matInput type="text" formControlName="motherContact">
                                <mat-hint
                                  *ngIf="!studentForm.get('motherContact')?.valid && studentForm.get('motherContact')?.touched"
                                  class="form-text text-danger">Mother contact is required</mat-hint>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Mother Annual Income</mat-label>
                                <input matInput type="text" formControlName="motherAnnualIncome">
                                <mat-hint
                                  *ngIf="!studentForm.get('motherAnnualIncome')?.valid && studentForm.get('motherAnnualIncome')?.touched"
                                  class="form-text text-danger">Mother annual income is required</mat-hint>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer" *ngIf="!deleteMode">
                        <button class="submit-button" mat-raised-button type="submit"
                          [disabled]="!studentForm.valid">Submit</button>
                      </div>
                      <div *ngIf="deleteMode">
                        <h3>To delete student detail, click ok to confirm.</h3>
                        <div class="modal-footer">
                          <button class="delete-button" mat-raised-button type="button"
                            (click)="studentDelete(deleteById)">Ok</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="modal fade show" [class.show]="showBulkImportModal">
                <div class="modal-dialog modal-dialog-top" role="document">
                  <div class="modal-content" *ngIf="successMsg">
                    <div class="modal-header">
                      <h5 class="modal-title" style="color: transparent;">&nbsp;</h5>
                    </div>
                    <div class="modal-body">
                      <p class="success-message">{{successMsg}}</p>
                    </div>
                    <div class="modal-footer">
                      <mat-icon></mat-icon>
                    </div>
                  </div>
                  <div class="modal-content" *ngIf="!successMsg">
                    <div class="modal-header">
                      <h6 class="modal-title">File Choose xlsx/csv
                      </h6>
                      <mat-icon matRipple (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
                    </div>
                    <div class="modal-body">
                      <div *ngIf="errorCheck">
                        <p class="error-message">{{errorMsg}}</p>
                      </div>
                      <main>
                        <!-- <div class="row mb-2 mt-5">
                          <mat-form-field appearance="outline">
                            <mat-label>Exam Type</mat-label>
                            <mat-select #examSelect matInput>
                              <div *ngFor="let exam of examType">
                                <mat-option (click)="selectExam(examSelect.value)" value="{{exam}}">
                                  {{exam | titlecase}} Exam
                                </mat-option>
                              </div>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>Stream</mat-label>
                            <mat-select type="text" matInput>
                              <ng-container *ngIf="cls==12 || cls==11">
                                <div *ngFor="let subject of streamMainSubject">
                                  <mat-option (click)="chooseStream(subject)"
                                    value="{{subject}}">{{subject}}</mat-option>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="cls<11">
                                <div>
                                  <mat-option value="notApplicable"
                                    (click)='chooseStream(notApplicable)'>N/A</mat-option>
                                </div>
                              </ng-container>
                            </mat-select>
                          </mat-form-field>
                          <div class="custom-file">
                            <input type="file" name="file" class="form-control file-input" id="inputGroupFile" required
                              (change)="handleImport($event)"
                              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                          </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Roll Number</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Hindi</th>
                                            <th scope="col">English</th>
                                            <th scope="col">Sanskrit</th>
                                            <th scope="col">Maths</th>
                                            <th scope="col">Science</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="movies.length;">
                                            <tr *ngFor="let movie of movies; let i = index">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{ movie.rollNumber }}</td>
                                                <td>{{ movie.Class }}</td>
                                                <td>{{ movie.Hindi }}</td>
                                                <td>{{ movie.English }}</td>
                                                <td>{{ movie.Sanskrit }}</td>
                                                <td>{{ movie.Maths }}</td>
                                                <td>{{ movie.Science }}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                      </main>
                    </div>
                    <div class="modal-footer">
                      <!-- <button [disabled]="!fileChoose || !selectedExam || !stream" (click)="addBulkExamResult()"
                        class="submit-button" mat-raised-button>
                        Import
                      </button> -->
                    </div>
                  </div>
                </div>
              </div>





              <div class="modal fade show" [class.show]="showBulkExportModal">
                <div class="modal-dialog modal-dialog-top" role="document">
                  <div class="modal-content" *ngIf="successMsg">
                    <div class="modal-header">
                      <h5 class="modal-title" style="color: transparent;">&nbsp;</h5>
                    </div>
                    <div class="modal-body">
                      <p class="success-message">{{successMsg}}</p>
                    </div>
                    <div class="modal-footer">
                      <mat-icon></mat-icon>
                    </div>
                  </div>
                  <div class="modal-content" *ngIf="!successMsg">
                    <div class="modal-header">
                      <h6 class="modal-title">Export Excel File 
                      </h6>
                      <mat-icon matRipple (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
                    </div>
                    <div class="modal-body">
                      <div *ngIf="errorCheck">
                        <p class="error-message">{{errorMsg}}</p>
                      </div>
                      <main>
                        <div class="row">
                            <div class="col-12">
                              <ng-container>
                                <h3>All Student {{className | classSuffix}}</h3>
                              </ng-container>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Admission Number</th>
                                            <th scope="col">Roll Number</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="studentInfoByClass && studentInfoByClass.length>0">
                                      <tr *ngFor="let students of studentInfoByClass,let i=index">
                                        <td>
                                          <p class="mb-0">{{number*10+i+1-10}}</p>
                                        </td>
                                        <td>
                                          <p class="mb-0">{{students.name}}</p>
                                        </td>
                                        <td>
                                          <p class="mb-0">{{students.admissionNo}}</p>
                                        </td>
                                        <td>
                                          <p class="mb-0">{{students.rollNumber}}</p>
                                        </td>        
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </main>
                    </div>
                    <div class="modal-footer">
                      <button
                        class="submit-button" (click)="exportToExcel()" mat-raised-button>
                        Export
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>