<app-header></app-header>
<div class="login">
    <div class="row">
      <div class="col-12 col-lg-5 offset-lg-3 login-card">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
                    <h3>Teacher Register</h3>
                    <div class="col-12">
                        <h2>{{errorMsg}}</h2>
                        <form [formGroup]="signupForm" (ngSubmit)="signup()">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput type="text" formControlName="email">
                                <mat-hint
                                    *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched"
                                    class="form-text text-danger">Username is required.</mat-hint>
                                <mat-hint *ngIf="signupForm.get('email')?.hasError('minlength')"
                                    class="form-text text-danger">
                                    Username must be at least 3 characters long.
                                </mat-hint>
                                <mat-hint *ngIf="signupForm.get('email')?.hasError('maxlength')"
                                    class="form-text text-danger">
                                    Username can't be more than 20 characters long.
                                </mat-hint>
                                <mat-hint *ngIf="signupForm.get('email')?.hasError('pattern')" class="form-text text-danger">
                                    Only alphanumeric characters and underscore are allowed.
                                  </mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-hint
                                    *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched"
                                    class="form-text text-danger">Password is required.</mat-hint>
                                <mat-hint *ngIf="signupForm.get('password')?.hasError('minlength')"
                                    class="form-text text-danger">
                                    Password must be at least 6 characters long.
                                </mat-hint>
                                <mat-hint *ngIf="signupForm.get('password')?.hasError('maxlength')"
                                    class="form-text text-danger">
                                    Password can't be more than 30 characters long.
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>OTP</mat-label>
                                <input matInput type="number" formControlName="otp">
                                <mat-hint
                                    *ngIf="signupForm.get('otp')?.hasError('required') && signupForm.get('otp')?.touched"
                                    class="form-text text-danger">OTP is required.</mat-hint>
                                <mat-hint *ngIf="signupForm.get('otp')?.hasError('pattern')"
                                    class="form-text text-danger">
                                    OTP must be a 6-digit number.
                                </mat-hint>
                                <mat-hint *ngIf="signupForm.get('otp')?.hasError('pattern')" class="form-text text-danger">
                                    OTP should contain only numbers.
                                  </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Teacher User Id</mat-label>
                                <input matInput type="number" formControlName="teacherUserId">
                                <mat-hint
                                    *ngIf="signupForm.get('teacherUserId')?.hasError('required') && signupForm.get('teacherUserId')?.touched"
                                    class="form-text text-danger">Teacher user id is required.</mat-hint>
                                <mat-hint *ngIf="signupForm.get('teacherUserId')?.hasError('pattern')"
                                    class="form-text text-danger">
                                    Teacher user id must be a 6-digit number.
                                </mat-hint>
                                <mat-hint *ngIf="signupForm.get('teacherUserId')?.hasError('pattern')" class="form-text text-danger">
                                    Teacher user id should contain only numbers.
                                  </mat-hint>
                            </mat-form-field>

                            <button type="submit" mat-raised-button [disabled]="!signupForm.valid"
                                class="submit-button">Register</button>
                        </form>
                        <p>You have an already account yet? <a routerLink="/teacher/login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>