.home {
   background-color: #fff !important;
}

/************************Banner*************************/

.banner-card {
   height: 28vh;
   /* border-radius: 15px; */
}

.main-card h3 {
   color: #5a4599d0;
   letter-spacing: .6px;
   font-size: 18px;
   text-align: center;
}

/************************ads*************************/
.ads-card .owl-stage {
   right: 25px;
}

.ads-card {
   height: 20vh;
   border-radius: 15px;
}

/* .ads-carousel {
   padding-top: 30px;
   padding-bottom: 20px;
} */

/*****************toppert card ***************/
.topper-card .owl-stage {
   right: 30px;
}

.topper-main-card {
   background-color: #5f48a30b;
   margin: 10px;
   padding-top: 4vh;
   padding-bottom: 2vh;
   border-radius: 35px;
   box-shadow: 0 0 0px -10px #4f3c8a3c,
      0 0 0 0px #4f3c8a3c,
      0 0 50px 0 #4f3c8a3c;
}
.topper-card {
   background:#fff;
   width: 110px;
   height: 110px;
   margin: 20px;
   text-align: center;
   border-radius: 50%;
   box-shadow: 0 0 0px -10px #4f3c8a16,
      0 0 0 0px #4f3c8a16,
      0 0 10px 0 #4f3c8a16;
}

.topper-text-card {
   color: #5a4599d0;
   width: 110px;
   text-align: center;
   background-color: transparent;
}
 
/*****************testimonial card ***************/
.testimonial-card .owl-stage {
   right: 30px;
}

.testimonial-card {
   background: #fff;
   height: 300px;
   width: 275px;
   margin-top: 50px;
   text-align: center;
   border-radius: 15px;
   box-shadow: 0 0 0px -10px #4f3c8a16,
      0 0 0 0px #4f3c8a16,
      0 0 10px 0 #4f3c8a16;
}

.testimonial-card .img-container {
   width: 85px;
   height: 85px;
   border-radius: 50%;
}

.testimonial-card img {
   max-width: 85px;
   max-height: 85px;
}

.testimonial-card h3 {
   color: #5a4599d0;
   font-size: 16px;
   letter-spacing: .5px;
}

.testimonial-card p {
   color: #5a4599;
   font-size: 15px;
   font-weight: 300;
}

.footer {
   background-color:#352575f1;
   /* text-align: center; */
}

.footer-card {
   /* margin-top: 45px; */
}

.footer-card h3 {
   color: #fff;
   font-size: 20px;
   letter-spacing: .5px;
}

.footer-card p {
   color: #e0e0ffe2;
   font-size: 16px;
   letter-spacing: .5px;
   /* margin-top: 15px;
   margin-bottom: 15px; */
}

.copyright p {
   color: #e0e0ffe2;
   font-size: 16px;
   letter-spacing: .5px;
   text-align: center;
   /* margin-top: 40px;
   margin-bottom: 35px; */
}

@media (min-width: 576px) and (max-width:991.98px) {
   .home {
      display: none;
   }
}


@media (min-width: 992px) {

   .home {
      background-color: #fff !important;
   }

   /************************Banner*************************/
   .banner-card {
      height: 45vh !important;
      max-width: 100% !important;
   }

   .main-card {
      background-color: #fff;
      /* padding-left: 30px; */
   }

   .main-card h3 {
      text-align: center;
      font: 1.75em sans-serif;
   }

   /************************ads*************************/
   .ads-card .owl-stage {
      right: 25px;
   }

   .ads-card {
      height: 25vh;
   }

   .ads-carousel {
      /* padding-top: 50px;
      padding-bottom: 40px; */
      padding-left: 10px;
   }

   /*****************toppert card ***************/
   .topper-card .owl-stage {
      right: 50px;
   }
   .topper-main-card {
      margin: 50px;
      padding-top: 10vh;
      padding-bottom: 2vh;
   }
   .topper-card {
      color: #7c7698fb;
      width: 160px;
      height: 160px;
   }

   .topper-text-card {
      width: 160px;
      text-align: center;
   }

   /*****************testimonial card ***************/
   .testimonial-card .owl-stage {
      right: 50px;
   }

   .testimonial-card {
      height: 350px;
      width: 275px;
      margin: 20px 0 20px 0 ;
   }

   .testimonial-card .img-container {
      padding-top: 20px;
      width: 90px;
      height: 90px;
      margin-left: 35%;
   }

   .testimonial-card img {
      max-width: 90px;
   }

   .testimonial-card h3 {
      font-size: 16px;
   }

   .testimonial-card p {
      /* margin-top: 1vh; */
   }

   .footer {
      /* padding-bottom: 10px */
   }

   .footer-card {}

   .footer-card h3 {
      font-size: 20px;
      letter-spacing: .5px;
   }

   .footer-card p {
      font-size: 16px;
      letter-spacing: .5px;
      /* margin-top: 15px;
      margin-bottom: 15px; */
   }

   .copyright p {
      font-size: 16px;
      letter-spacing: .5px;
      text-align: center;
      /* margin-top: 15px;
      margin-bottom: 20px; */
   }
}