<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="owl-carousel banner-carousel">
                <div>
                    <img class="banner-card" src="../../../../assets/banner-image/b1.jpg" alt="">
                </div>
                <div>
                    <img class="banner-card" src="../../../../assets/banner-image/b2.jpg" alt="">
                </div>
                <div>
                    <img class="banner-card" src="../../../../assets/banner-image/b3.jpg" alt="">
                </div>
                <div>
                    <img class="banner-card" src="../../../../assets/banner-image/b4.jpg" alt="">
                </div>
            </div>

            <h3>Our Toppers</h3>
            <div class="owl-carousel topper-carousel pt-5 mt-2">
                <div>
                    <div class="topper-card mt-5" matRipple>
                        <img src="../../../../assets/topper-image/topper1.png" alt="">
                    </div>
                    <div class="topper-text-card">
                        <p>Bhavana Rajput</p>
                    </div>
                </div>
                <div>
                    <div class="topper-card mt-5" matRipple>
                        <img src="../../../../assets/topper-image/topper2.png" alt="">
                    </div>
                    <div class="topper-text-card">
                        <p>Kavita Dhakad</p>
                    </div>
                </div>
                <div>
                    <div class="topper-card mt-5" matRipple>
                        <img src="../../../../assets/topper-image/topper3.png" alt="">
                    </div>
                    <div class="topper-text-card">
                        <p>Manisha Dhakad</p>
                    </div>
                </div>
                <div>
                    <div class="topper-card mt-5" matRipple>
                        <img src="../../../../assets/topper-image/topper4.png" alt="">
                    </div>
                    <div class="topper-text-card">
                        <p>Jyoti Dhakad</p>
                    </div>
                </div>
                <div>
                    <div class="topper-card mt-5" matRipple>
                        <img src="../../../../assets/topper-image/topper5.png" alt="">
                    </div>
                    <div class="topper-text-card">
                        <p>Bhavana Rajput</p>
                    </div>
                </div>
                <div>
                    <div class="topper-card mt-5" matRipple>
                        <img src="../../../../assets/topper-image/topper6.png" alt="">
                    </div>
                    <div class="topper-text-card">
                        <p>Bhavana Rajput</p>
                    </div>
                </div>
            </div>

            <div class="owl-carousel ads-carousel">
                <div>
                    <img class="ads-card" src="../../../../assets/ads-image/ads1.jpg" alt="">
                </div>
                <div>
                    <img class="ads-card" src="../../../../assets/ads-image/ads2.jpg" alt="">
                </div>
                <div>
                    <img class="ads-card" src="../../../../assets/ads-image/ads3.jpg" alt="">
                </div>
                <div>
                    <img class="ads-card" src="../../../../assets/ads-image/ads4.jpg" alt="">
                </div>
                <div>
                    <img class="ads-card" src="../../../../assets/ads-image/ads5.jpg" alt="">
                </div>
            </div>

            <h3>Testimonial</h3>
            <div class="owl-carousel testimonial-carousel pt-5 mt-2">
                <div class="row testimonial-card">
                    <div class="col-5 img-container">
                        <img src="../../../../assets/testimonial-image/t1.png" alt="">
                    </div>
                    <div class="col-7">
                        <h3>Anuradha Dhakad</h3>
                    </div>
                    <div class="col-12">
                        <p>" Student - get ewg ugiwe wgq iqe u eihuf fwei requ ergwrg wtwg thtrowh trhoht hyhoy hbr "
                        </p>
                    </div>
                </div>
                <div class="row testimonial-card">
                    <div class="col-5 img-container">
                        <img src="../../../../assets/testimonial-image/t2.png" alt="">
                    </div>
                    <div class="col-7">
                        <h3>Anuradha Dhakad</h3>
                    </div>
                    <div class="col-12">
                        <p>" Student - get ewg ugiwe wgq iqe u eihuf fwei requ ergwrg wtwg thtrowh trhoht hyhoy hbr "
                        </p>
                    </div>
                </div>
                <div class="row testimonial-card">
                    <div class="col-5 img-container">
                        <img src="../../../../assets/testimonial-image/t3.png" alt="">
                    </div>
                    <div class="col-7">
                        <h3>Anuradha Dhakad</h3>
                    </div>
                    <div class="col-12">
                        <p>" Student - get ewg ugiwe wgq iqe u eihuf fwei requ ergwrg wtwg thtrowh trhoht hyhoy hbr "
                        </p>
                    </div>
                </div>
                <div class="row testimonial-card">
                    <div class="col-5 img-container">
                        <img src="../../../../assets/testimonial-image/t4.png" alt="">
                    </div>
                    <div class="col-7">
                        <h3>Anuradha Dhakad</h3>
                    </div>
                    <div class="col-12">
                        <p>" Student - get ewg ugiwe wgq iqe u eihuf fwei requ ergwrg wtwg thtrowh trhoht hyhoy hbr "
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-12 col-lg-10 offset-lg-1 footer-card">
            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3>Our Classes</h3>
                            <p>Competitive Exams</p>
                            <p>IIT JEE</p>
                            <p>NEET</p>
                            <p>Olympiad Preparation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="row">
                        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
                        <div>
                            <label for="amount">Amount:</label>
                            <input type="number" [(ngModel)]="amount" id="amount" name="amount" required>
                            <br>
                            <button class="submit-button" mat-raised-button (click)="createPayment()">Pay with Razorpay</button>
                          </div>


                        <div class="col-10 offset-1">
                            <h3>Branches</h3>
                            <p>Guna</p>
                            <p>Jabalpur</p>
                            <p>Indore</p>
                            <p>Bhopal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3>Contact</h3>
                            <p>Email - adhakad@gmail.com</p>
                            <p>Linked In - linkedin.com/abhishek</p>
                            <p>Mobile - +91 9340700360</p>
                            <p>Tel - 07542 4736452</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; {{currentYear}} | All rights reserve zoclass.in</p>
            </div>
        </div>
    </div>
</div>



<!-- <app-header></app-header>
<div class="container-fluid p-0 m-0">
    <div class="row home">
        <div class="col-12">
            <div class="owl-carousel banner-carousel">
                <div *ngFor="let bannerInfo of bannerInfo">
                    <img class="banner-card" src="http://localhost:3000/public/banner-image/banner2.jpg" alt="">
                </div>
            </div>
            <div class="main-card">
                <h3 *ngIf="loadTitle">Toppers</h3>
                <div class="owl-carousel topper-carousel">
                    <div *ngFor="let topperInfo of topperInfo">
                        <div class="topper-card" matRipple>
                            <img src="http://localhost:3000/public/topper-image/{{topperInfo.image}}" alt="">
                        </div>
                        <div class="topper-text-card">
                            <p>{{topperInfo.name}}</p>
                        </div>
                        <div class="topper-text-card">
                            <p style="margin-top: -10px;">{{topperInfo.year}} {{topperInfo.class}}th -
                                {{topperInfo.percentile}}%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-card">
                <div class="owl-carousel ads-carousel">
                    <div *ngFor="let adsInfo of adsInfo">
                        <img class="ads-card" src="../../../../assets/ads-image/ads1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="main-card">
                <h3 *ngIf="loadTitle">Testimonial</h3>
                <div class="owl-carousel testimonial-carousel">
                    <div class="row testimonial-card" *ngFor="let testimonialInfo of testimonialInfo">
                        <div class="col-5 img-container">
                            <img src="http://localhost:3000/public/testimonial-image/{{testimonialInfo.image}}" alt="">
                        </div>
                        <div class="col-7">
                            <h3>{{testimonialInfo.name}}</h3>
                        </div>
                        <div class="col-12">
                            <p>" {{testimonialInfo.role}} - {{testimonialInfo.desc}} "</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-12 col-lg-10 offset-lg-1 footer-card">
            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3>Our Classes</h3>
                            <p>Competitive Exams</p>
                            <p>IIT JEE</p>
                            <p>NEET</p>
                            <p>Olympiad Preparation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3>Branches</h3>
                            <p>Guna</p>
                            <p>Jabalpur</p>
                            <p>Indore</p>
                            <p>Bhopal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3>Contact</h3>
                            <p>Email - adhakad@gmail.com</p>
                            <p>Linked In - linkedin.com/abhishek</p>
                            <p>Mobile - +91 9340700360</p>
                            <p>Tel - 07542 4736452</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; {{currentYear}} | All rights reserve zoclass.in</p>
            </div>
        </div>
    </div>
</div> -->