@import'../../../app.component.css';

.home {}

/************************Banner*************************/
.banner-background {
   background-color: #fff;
   min-height: 30vh;
}

.main-card {
   background-color: #64748d15;
   padding-bottom: 3vh;
}

.banner-card {
   height: 30vh;
}

.main-card h3 {
   color: #4e4caacd;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: .6px;
   text-align: center;
}

/************************ads*************************/
.ads-background {
   background-color: #fff;
   min-height: 300px;
   width: 100%;
   margin-top: 25px;
   margin-bottom: 25px;
   padding-top: 75px;
   padding-bottom: 75px;
   box-shadow: 0 0 1px -10px #64748d15, 0 0 0 1px #64748d15, 0 0 4px 0 #64748d15;
}

.ads-card .owl-stage {
   right: 25px;
}

.ads-card {
   height: 20vh;
   border-radius: 15px;
}

/*****************toppert card ***************/
.topper-card .owl-stage {
   right: 30px;
}

.slider-main-card {
   min-height: 300px;
   background-color: #fff;
   margin: 12px;
   border-radius: 15px;
   box-shadow: 0 0 1px -10px #64748d15,
      0 0 0 1px #64748d15,
      0 0 4px 0 #64748d15;
}

.topper-card {
   background-color: #8c88ff3d;
   width: 110px;
   height: 110px;
   margin-top: 8vh;
   text-align: center;
   border-radius: 50%;
   /* box-shadow: 0 0 0px -10px #8f89ccbc,
      0 0 0 0 #8f89ccbc,
      0 0 2px 0 #8f89ccbc; */
}

.topper-text-card {
   color: #5a4599d0;
   width: 110px;
   text-align: center;
   background-color: transparent;
}

/*****************testimonial card ***************/
.testimonial-card .owl-stage {
   right: 30px;
}

.testimonial-card {
   background-color: #8c88ff3d;
   height: 300px;
   width: 250px;
   margin-top: 5vh;
   margin-bottom: 2vh;
   text-align: center;
   border-radius: 15px;
   justify-content: center;
   box-shadow: 0 0 0px -10px #8f89ccbc,
      0 0 0 0 #8f89ccbc,
      0 0 2px 0 #8f89ccbc;
}

.testimonial-card .img-container {
   width: 85px;
   height: 85px;
   padding-top: 20px;
   border-radius: 50%;
}

.testimonial-card img {
   max-width: 85px;
   max-height: 85px;
}

.testimonial-card h3 {
   color: #5a4599d0;
   font-size: 16px;
   letter-spacing: .5px;
}

.testimonial-card p {
   color: #5a4599;
   font-size: 15px;
   font-weight: 300;
}

@media (min-width: 576px) and (max-width:991.98px) {
   .home {
      display: none;
   }
}


@media (min-width: 992px) {

   .home {}

   /************************Banner*************************/
   .banner-background {
      background-color: #fff;
      min-height: 50vh;
   }

   .banner-card {
      height: 50vh !important;
      max-width: 100% !important;
   }

   .main-card h3 {
      text-align: center;
   }

   /************************ads*************************/
   .ads-card .owl-stage {
      right: 25px;
   }

   .ads-card {
      height: 25vh;
   }

   .ads-carousel {
      /* padding-top: 50px;
      padding-bottom: 40px; */
      padding-left: 10px;
   }

   /*****************toppert card ***************/
   .topper-card .owl-stage {
      right: 50px;
   }

   .slider-main-card {
      margin: 50px;
      padding-top: 2vh;
      padding-bottom: 2vh;
   }

   .topper-card {
      color: #7c7698fb;
      width: 160px;
      height: 160px;
   }

   .topper-text-card {
      width: 160px;
      text-align: center;
   }

   /*****************testimonial card ***************/
   .testimonial-card .owl-stage {
      right: 50px;
   }

   .testimonial-card {
      width: 260px;
      height: 330px;
   }

   .testimonial-card .img-container {
      padding-top: 20px;
      width: 90px;
      height: 90px;
   }

   .testimonial-card img {
      max-width: 90px;
   }

   .testimonial-card h3 {
      font-size: 16px;
   }

   .testimonial-card p {
      /* margin-top: 1vh; */
   }
}