<app-header></app-header>
<div class="login">
  <div class="row">
    <div class="col-12 col-lg-5 offset-lg-3 login-card" *ngIf="formType=='Varify'">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h3>Student Varification</h3>
          <div class="col-12">
            <h2>{{errorMsg}}</h2>
            <form [formGroup]="varifyForm" (ngSubmit)="studentVarify()" *ngIf="formType=='Varify'">
              <mat-form-field appearance="outline">
                <mat-label>Select class name</mat-label>
                <mat-select type="number" matInput formControlName="class">
                  <div *ngFor="let classInfo of classInfo">
                    <mat-option value="{{classInfo.class}}">{{classInfo.class}}</mat-option>
                  </div>
                </mat-select>
                <mat-hint *ngIf="!varifyForm.get('class')?.valid && varifyForm.get('class')?.touched"
                  class="form-text text-danger">Please select class name.</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Roll number</mat-label>
                <input matInput type="text" formControlName="rollNumber">
                <mat-hint *ngIf="!varifyForm.get('rollNumber')?.valid && varifyForm.get('rollNumber')?.touched"
                  class="form-text text-danger">Please enter roll number.</mat-hint>
              </mat-form-field>

              <button type="submit" mat-raised-button [disabled]="!varifyForm.valid"
                class="submit-button">Varify</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 offset-lg-3 login-card" *ngIf="formType=='Otp'">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h3>OTP Varification</h3>
          <div class="col-12">
            <h2>{{errorMsg}}</h2>
            <form [formGroup]="otpForm" (ngSubmit)="otpVarify()" *ngIf="formType=='Otp'">
              <mat-form-field appearance="outline">
                <mat-label>OTP</mat-label>
                <input matInput type="text" formControlName="otp">
                <mat-hint *ngIf="!otpForm.get('otp')?.valid && otpForm.get('otp')?.touched"
                  class="form-text text-danger">Please enter otp.</mat-hint>
              </mat-form-field>


              <button type="submit" mat-raised-button [disabled]="!otpForm.valid" class="submit-button">Varify</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 offset-lg-3 login-card" *ngIf="formType=='Reset'">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h3>Student Username or Password Reset</h3>
          <div class="col-12">
            <h2>{{errorMsg}}</h2>
            <form [formGroup]="resetForm" (ngSubmit)="usernamePasswordReset()">
              <mat-form-field appearance="outline">
                <mat-label>Reset Email</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-hint *ngIf="!resetForm.get('email')?.valid && resetForm.get('email')?.touched"
                  class="form-text text-danger">Please enter email.</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Reset Password</mat-label>
                <input matInput type="text" formControlName="password">
                <mat-hint *ngIf="!resetForm.get('password')?.valid && resetForm.get('password')?.touched"
                  class="form-text text-danger">Please enter password.</mat-hint>
              </mat-form-field>


              <button type="submit" mat-raised-button
                [disabled]="!resetForm.valid" class="submit-button">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 offset-lg-3 login-card" *ngIf="formType=='ResetSuccsess'">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <p class="success-message">{{successMsg}}</p>
        </div>
      </div>
    </div>


  </div>
</div>