<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
    <div class="row">
        <div class="col-12 col-lg-2">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-12 col-lg-10">
            <div class="row">
                <div class="col-12 big-container">
                    <div class="col-lg-12 offset-lg-0">
                        <div class="main-card pt-2 pb-4">

                            <div class="row mt-4 mb-2">
                                <div class="row pb-3">
                                    <div class="col-12 col-lg-10">
                                        <mat-radio-group (change)="onChange($event)">
                                            <mat-radio-button [value]="0" [checked]="selectedValue==0">Bulk Result
                                                Create</mat-radio-button>
                                            <mat-radio-button [value]="1" [checked]="selectedValue==1"
                                                style="margin-left: 40px;">Single Result
                                                Create</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-8 col-lg-5">
                                    <input type="text" class="form-control" placeholder="Result Search..."
                                        id="searchText" name="searchText" #searchText="ngModel"
                                        [(ngModel)]="filters.searchText" (keyup)="getFees({page : 1, limit : 0})">
                                </div>
                                <div class="col-4 col-lg-2 offset-lg-5 pb-3">
                                    <button *ngIf="selectedValue==0" class="submit-button" mat-raised-button
                                        (click)="addBulkFeesModel()"><mat-icon
                                            style="font-size: 20px;">add</mat-icon>Create</button>
                                </div>
                            </div>

                            <table class="table table-hover align-middle mt-2 mb-1 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Fee Payment</th>
                                        <th>Fee Statement</th>
                                        <th>Student Name</th>
                                        <th>Roll Number</th>
                                        <th>Paid Fee</th>
                                        <th>Due Fee</th>
                                        <th>Total Fee</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let student of studentList,let i=index">
                                    <tr>
                                        <td>
                                            <p class="mb-0">{{i+1}}</p>
                                        </td>
                                        <th>
                                            <button *ngIf="student.paidFees !== student.totalFees" class="submit-button"
                                                mat-raised-button (click)="studentFeesPay(student)">Pay Fee</button>
                                            <button *ngIf="student.paidFees === student.totalFees" class="submit-button"
                                                mat-raised-button [disabled]="student.paidFees === student.totalFees"
                                                style="background-color: transparent;color: #7c7698fb;">Fee
                                                Paid</button>
                                        </th>
                                        <td class="mb-0">
                                            <mat-icon
                                                routerLink="/admin/students/fees/class/statement/{{student.class}}/{{student.rollNumber}}"
                                                style="cursor: pointer;">launch</mat-icon>
                                        </td>
                                        <td>
                                            <p class="mb-0">{{student.name | titlecase}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0">{{student.rollNumber}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0"> &#8377; {{student.paidFees}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0"> &#8377; {{student.dueFees}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0"> &#8377; {{student.totalFees}}</p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="pagination">
                                <app-pagination [paginationValues]="paginationValues" (onChange)="getFees($event)">
                                </app-pagination>
                            </div>
                            <div class="modal fade show" [class.show]="showModal">
                                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Student Fee Payment</h5>
                                            <mat-icon matRipple (click)="closeModal()">close</mat-icon>
                                        </div>
                                        <form [formGroup]="feesForm" (ngSubmit)="feesAddUpdate()"
                                            *ngIf="!deleteMode && paybleInstallment && singleStudent && !receiptMode">
                                            <div class="modal-body">
                                                <div *ngIf="errorCheck">
                                                    <p class="error-message">{{errorMsg}}</p>
                                                </div>
                                                <div class="row">
                                                    <div class="custom-container">
                                                        <div class="table-container">
                                                            <table class="logo-table text-bold">
                                                                <tr>
                                                                    <td>
                                                                        <img src="../../../../assets/logo.png" alt="">
                                                                        Vandana Convent
                                                                        School,Guna
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table class="info-table text-center">
                                                                <tr>
                                                                    <td>
                                                                        School Code : 2832
                                                                    </td>
                                                                    <td>
                                                                        Affiliation No. : 1050
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table class="info-table">
                                                                <tr>
                                                                    <td class="text-bold">Admission No. :</td>
                                                                    <td>956544</td>
                                                                    <td class="text-bold">Class :</td>
                                                                    <td>{{singleStudent.class}}th</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold">Student Name :</td>
                                                                    <td>{{singleStudent.name |
                                                                        titlecase}}</td>
                                                                    <td class="text-bold">Father Name :</td>
                                                                    <td>Narendra Dhakad</td>
                                                                </tr>
                                                            </table>
                                                            <table class="custom-table">
                                                                <tr>
                                                                    <td class="text-bold">Paid Fee</td>
                                                                    <td>&#8377; {{singleStudent.paidFees}}</td>
                                                                    <td class="text-bold">Due Fee</td>
                                                                    <td>&#8377; {{singleStudent.dueFees}}</td>
                                                                    <td class="text-bold">Total Fee</td>
                                                                    <td>&#8377; {{singleStudent.totalFees}}</td>
                                                                </tr>
                                                            </table>
                                                            <table class="custom-table">
                                                                <tr
                                                                    *ngFor="let installmentGroup of singleStudent.installment | chunk: 3; let i = index">
                                                                    <ng-container>
                                                                        <ng-container
                                                                            *ngFor="let installmentObject of installmentGroup; let j = index">
                                                                            <ng-container
                                                                                *ngFor="let entry of installmentObject | keyvalue">
                                                                                <td class="text-bold">
                                                                                    {{ entry.key }}
                                                                                </td>
                                                                                <td style="font-weight: 400">
                                                                                    &#8377; {{ entry.value }}
                                                                                </td>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" *ngIf="paybleInstallment[0][1]>0 && !receiptMode">
                                                <mat-checkbox style="margin-right: 5px;" class="example-margin"
                                                    (click)="feesPay(payNow)">Allow Payment</mat-checkbox>

                                                <button class="submit-button" mat-raised-button type="button"
                                                    (click)="feesAddUpdate()" [disabled]="!payNow">Pay
                                                    {{paybleInstallment[0][0]}} Installment &#8377;
                                                    {{paybleInstallment[0][1]}}</button>
                                            </div>
                                        </form>
                                        <div class="modal-body"
                                            *ngIf="receiptMode && receiptInstallment && singleStudent">
                                            <div class="row">
                                                <div #receipt class="custom-container">
                                                    <div class="table-container">
                                                        <table class="logo-table text-bold">
                                                            <tr>
                                                                <td>
                                                                    <img src="../../../../assets/logo.png" alt="">
                                                                    Vandana Convent
                                                                    School,Guna
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <table class="info-table text-center">
                                                            <tr>
                                                                <td>
                                                                    School Code : 2832
                                                                </td>
                                                                <td>
                                                                    Affiliation No. : 1050
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <table class="info-table">
                                                            <tr>
                                                                <td class="text-bold">Receipt No. :</td>
                                                                <td>{{receiptInstallment.receiptNo}}</td>
                                                                <td class="text-bold">Admission No. :</td>
                                                                <td>12345</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-bold">Class :</td>
                                                                <td>{{receiptInstallment.class}}th</td>
                                                                <td class="text-bold">Date Of Birth :</td>
                                                                <td>30.04.2005</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-bold">Student Name :</td>
                                                                <td>{{singleStudent.name |
                                                                    titlecase}}</td>
                                                                <td class="text-bold">Father Name :</td>
                                                                <td>Narendra Dhakad</td>
                                                            </tr>
                                                        </table>
                                                        <table class="receipt-table">
                                                            <tr class="text-center">
                                                                <th class="border">S. No.</th>
                                                                <th class="border">Particulars</th>
                                                                <th class="border">Fee Amount</th>
                                                            </tr>

                                                            <tr class="text-center"
                                                                *ngFor="let item of clsFeesStructure?.feesType,let i = index">
                                                                <td class="border">{{i+1}}.</td>
                                                                <td class="border" *ngFor="let fee of item | keyvalue">
                                                                    {{ fee.key}} Fee</td>
                                                                <td class="border" *ngFor="let fee of item | keyvalue">
                                                                    &#8377; {{ fee.value}}</td>
                                                            </tr>
                                                            <tr class="text-center receipt-row">
                                                                <td></td>
                                                                <td class="text-bold text-right">Total Fee</td>
                                                                <td class="text-bold">&#8377;
                                                                    {{receiptInstallment.totalFees}}</td>
                                                            </tr>
                                                            <tr class="text-center receipt-row">
                                                                <td></td>
                                                                <td class="text-bold text-right">Paid Fee</td>
                                                                <td class="text-bold">&#8377;
                                                                    {{receiptInstallment.paidFees}}</td>
                                                            </tr>
                                                            <tr class="text-center receipt-row">
                                                                <td></td>
                                                                <td class="text-bold text-right">Due Fee</td>
                                                                <td class="text-bold">&#8377;
                                                                    {{receiptInstallment.dueFees}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    <p class="text-center"><span class="text-bold">
                                                                            {{receiptInstallment.feesInstallment}}</span>
                                                                        installment amount deposited <span
                                                                            class="text-bold">&#8377;
                                                                            {{receiptInstallment.feesAmount}} /-</span>
                                                                    </p>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        </table>

                                                        <p>Date : {{ receiptInstallment.paymentDate }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" *ngIf="receiptMode">
                                            <button class="submit-button print-pdf" mat-raised-button
                                                (click)="printReceipt()">Print</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>