:host ::ng-deep .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(240, 240, 255, .55);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    backdrop-filter: blur(5px);
  }
  
  :host ::ng-deep .spinner-container .spinner-overlay {
    background: transparent;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  :host ::ng-deep .spinner-container .spinner-overlay .mat-progress-spinner circle,
  :host ::ng-deep .mat-spinner circle {
    stroke: #8d6dff;
    stroke-opacity: 1 !important;
    animation-duration: 5s;
  }