<mat-toolbar class="toolbar">
    <button mat-flat-button class="logo">
    <span>zoclass</span>
      <!-- <span style="font-size: 25px;color: #8d6dff;font-weight: 400;letter-spacing: .025em;height: 25px;">z<span style="font-size: 25px;color: #fff;background: #8d6dff;">o</span>class</span> -->
    </button>
    <button mat-flat-button>
    </button>
    <button mat-flat-button>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon style="color: #8d6dff;">more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu" class="custom-style">
    <!-- <img src="../../../../assets/icons8-assessment-64.png" alt=""> -->
    <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated" routerLink="/admin/login">
      <mat-icon>account_box</mat-icon>
      <span>Admin Login</span>
    </button>
    <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated" routerLink="/teacher/login">
      <mat-icon>account_box</mat-icon>
      <span>Teacher Login</span>
    </button>
    <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated" routerLink="/student/login">
      <mat-icon>account_box</mat-icon>
      <span>Student Login</span>
    </button>
    <button mat-menu-item *ngIf="isAdminAuthenticated" routerLink="/admin/dashboard">
      <mat-icon>dialpad</mat-icon>
      <span>Admin Dashboard</span>
    </button>
    <button mat-menu-item *ngIf="isTeacherAuthenticated" routerLink="/teacher/dashboard">
      <mat-icon>dialpad</mat-icon>
      <span>Teacher Dashboard</span>
    </button>
    <button mat-menu-item *ngIf="isStudentAuthenticated" routerLink="/student/dashboard">
      <mat-icon>dialpad</mat-icon>
      <span>Student Dashboard</span>
    </button>
    <button mat-menu-item *ngIf="isAdminAuthenticated" (click)="onLogout('admin')">
      <mat-icon>dialpad</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item *ngIf="isTeacherAuthenticated" (click)="onLogout('teacher')">
      <mat-icon>dialpad</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item *ngIf="isStudentAuthenticated" (click)="onLogout('student')">
      <mat-icon>dialpad</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>