<!-- <mat-toolbar style="height: 5vh;width: 100%;background-color: #352575f1;text-align: center;">
  <div style="width: 50%;"><span style="font-size: .65em;color: #fff;">Krisnani Nagar, Guna, (M.P.)</span></div>
  <div style="width: 50%;"><span style="font-size: .65em;color: #fff;">Affiliate : 16652</span></div>
</mat-toolbar> -->
<mat-toolbar class="header">
  <div class="logo">
    <!-- <img src="../../../assets/logo.png" alt=""> -->
    <span>{{schoolName}}</span>
  </div>
  <div class="hamburger">
    <button mat-icon-button>
      <svg class="hamburger-icon" (click)="hamburgerMenu(true)" xmlns="http://www.w3.org/2000/svg" width="24"
        height="24" viewBox="0 0 25 25">
        <rect x="0" y="3" width="24" height="1.5" />
        <rect x="0" y="10" width="24" height="1.5" />
        <rect x="0" y="17" width="24" height="1.5" />
      </svg>
    </button>
  </div>
  <div class="main-menu" style="text-align: center;">
    <button mat-button>
      <span class="menu-item" [routerLink]="['/']">Home</span>
    </button>
    <button #button mat-button (click)="addBannerModel()">
      <span class="menu-item">Admission</span>
    </button>
    <button #button mat-button [matMenuTriggerFor]="aboutMenu">
      <span class="menu-item">About</span><mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button #button mat-button [matMenuTriggerFor]="examMenu">
      <span class="menu-item">Exam</span><mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <span class="menu-item">Account</span><mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-button routerLink="/notice" routerLinkActive="active-link" (click)="viewNotification()">
      <mat-icon *ngIf="notificationCount" class="material-icons mat-badge-small" [matBadge]="notificationCount"
        matBadgeColor="accent" matBadgeSize="small">notifications</mat-icon>
      <mat-icon *ngIf="!notificationCount" class="material-icons mat-badge-small">notifications</mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-menu #aboutMenu="matMenu" class="desktop-menu">
  <!-- <button mat-menu-item>
    <mat-icon>account_box</mat-icon>
    <span>School Information</span>
  </button> -->
  <button mat-menu-item routerLink="/about">
    <mat-icon>apartment</mat-icon>
    <span>About School</span>
  </button>

</mat-menu>

<mat-menu #examMenu="matMenu" class="desktop-menu">
  <button mat-menu-item routerLink="/admit-card">
    <mat-icon>assignment</mat-icon>
    <span>Admit Card</span>
  </button>
  <button mat-menu-item routerLink="/result">
    <mat-icon>content_paste_search</mat-icon>
    <span>Exam Results</span>
  </button>
</mat-menu>


<mat-menu #accountMenu="matMenu" class="desktop-menu">
  <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated"
    routerLink="/admin/login">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin Login</span>
  </button>
  <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated"
    routerLink="/teacher/login">
    <mat-icon>account_box</mat-icon>
    <span>Teacher Login</span>
  </button>
  <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated"
    routerLink="/student/login">
    <mat-icon>person</mat-icon>
    <span>Student Login</span>
  </button>
  <button mat-menu-item *ngIf="isAdminAuthenticated" routerLink="/admin/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>Admin Dashboard</span>
  </button>
  <button mat-menu-item *ngIf="isTeacherAuthenticated" routerLink="/teacher/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>Teacher Dashboard</span>
  </button>
  <button mat-menu-item *ngIf="isStudentAuthenticated" routerLink="/student/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>Student Dashboard</span>
  </button>
  <button mat-menu-item *ngIf="isAdminAuthenticated" (click)="onLogout('admin')">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item *ngIf="isTeacherAuthenticated" (click)="onLogout('teacher')">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item *ngIf="isStudentAuthenticated" (click)="onLogout('student')">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>


<div [ngClass]="{'top-hamburger-menu' : false==nav}">
  <mat-toolbar class="hamburger-menu">
    <mat-icon class="close-icon" (click)="hamburgerMenu(false)">close</mat-icon>
    <button mat-menu-item routerLink="/" routerLinkActive="active-link" (click)="hamburgerMenu(true)">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/notice" routerLinkActive="active-link" (click)="viewNotification()">
      <mat-icon *ngIf="notificationCount" class="material-icons mat-badge-small" [matBadge]="notificationCount"
        matBadgeColor="accent" matBadgeSize="small">notifications</mat-icon>
      <mat-icon *ngIf="!notificationCount" class="material-icons mat-badge-small">notifications</mat-icon>
      <span>Notification</span>
    </button>
    <button mat-menu-item (click)="addBannerModel()">
      <mat-icon>app_registration</mat-icon>
      <span>Online Admission</span>
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>apartment</mat-icon>
      <span>About school</span>
    </button>
    <!-- <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>School Information</span>
    </button> -->
    <button mat-menu-item routerLink="/admit-card">
      <mat-icon>assignment</mat-icon>
      <span>Admit Card</span>
    </button>
    <button mat-menu-item routerLink="/result">
      <mat-icon>content_paste_search</mat-icon>
      <span>Exam Result</span>
    </button>
    <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated"
      routerLink="/admin/login">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Login</span>
    </button>
    <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated"
      routerLink="/teacher/login">
      <mat-icon>account_box</mat-icon>
      <span>Teacher Login</span>
    </button>
    <button mat-menu-item *ngIf="!isAdminAuthenticated && !isTeacherAuthenticated && !isStudentAuthenticated"
      routerLink="/student/login">
      <mat-icon>person</mat-icon>
      <span>Student Login</span>
    </button>
    <button mat-menu-item *ngIf="isAdminAuthenticated" routerLink="/admin/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Admin Dashboard</span>
    </button>
    <button mat-menu-item *ngIf="isTeacherAuthenticated" routerLink="/teacher/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Teacher Dashboard</span>
    </button>
    <button mat-menu-item *ngIf="isStudentAuthenticated" routerLink="/student/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Student Dashboard</span>
    </button>
    <button mat-menu-item *ngIf="isAdminAuthenticated" (click)="onLogout('admin')">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item *ngIf="isTeacherAuthenticated" (click)="onLogout('teacher')">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item *ngIf="isStudentAuthenticated" (click)="onLogout('student')">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar>
</div>








<div class="modal fade show" [class.show]="showModal">
  <div class="modal-dialog modal-dialog-scrollable" [class.modal-lg]="!successMsg">
    <div class="modal-content" *ngIf="successMsg">
      <div class="modal-header">
        <h5 class="modal-title" style="color: transparent;">&nbsp;</h5>
      </div>
      <div class="modal-body">
        <p class="success-message">{{successMsg}}</p>
      </div>
      <div class="modal-footer">
        <mat-icon></mat-icon>
      </div>
    </div>

    <div class="modal-content" *ngIf="!successMsg">
      <div class="modal-header">
        <h5 class="modal-title">New Admission</h5>
        <mat-icon matRipple (click)="closeModal()">close</mat-icon>
      </div>

      <form [formGroup]="studentForm" (ngSubmit)="studentAddUpdate()">
        <div class="modal-body">

          <div *ngIf="errorCheck">
            <p class="error-message">{{errorMsg}}</p>
          </div>

          <div class="container">
            <div class="row">
              <ng-container>
                <h3>Academic Info</h3>
              </ng-container>
              
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Session</mat-label>
                  <mat-select type="text" matInput formControlName="session">
                    <div *ngFor="let session of sessions">
                      <mat-option value="{{session.year}}">{{session.year}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('session')?.hasError('required') && studentForm.get('session')?.touched">
                    Session is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Class</mat-label>
                  <mat-select matInput formControlName="class">
                    <div *ngFor="let classInfo of classInfo">
                      <mat-option [value]="classInfo.class"
                        (click)="chooseClass(studentForm.get('class'))">
                        {{ classInfo.class | classSuffix }}
                      </mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('class')?.hasError('required') && studentForm.get('class')?.touched">
                    Class is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('class')?.hasError('pattern') && studentForm.get('class')?.touched">
                    Please enter a valid class (numeric characters only)
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Stream</mat-label>
                  <mat-select type="text" matInput formControlName="stream">
                    <ng-container *ngIf="cls==12 || cls==11">
                      <div *ngFor="let subject of streamMainSubject">
                        <mat-option (click)="chooseStream(studentForm.get('stream'))"
                          value="{{subject}}">{{subject}}</mat-option>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="cls<11 && cls!==0 || cls==21 || cls==22">
                      <div>
                        <mat-option value="{{notApplicable}}"
                          (click)="chooseStream(studentForm.get('stream'))">N/A</mat-option>
                      </div>
                    </ng-container>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('stream')?.hasError('required') && studentForm.get('stream')?.touched">
                    Stream is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('stream')?.hasError('pattern') && studentForm.get('stream')?.touched">
                    Please enter a valid Stream (only letters are allowed)
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Last School Optional</mat-label>
                  <input matInput type="text" formControlName="lastSchool">
                  <mat-error
                    *ngIf="studentForm.get('lastSchool')?.hasError('pattern') && studentForm.get('lastSchool')?.touched">
                    Please enter a valid Last School (only letters and spaces are allowed)
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('lastSchool')?.hasError('maxlength') && studentForm.get('lastSchool')?.touched">
                    Maximum length exceeded (maximum 50 characters allowed)
                  </mat-error>
                </mat-form-field>
              </div>
              <ng-container>
                <h3>Student Info</h3>
              </ng-container>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name">
                  <mat-error
                    *ngIf="studentForm.get('name')?.hasError('required') && studentForm.get('name')?.touched">
                    Name is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('name')?.hasError('pattern') && studentForm.get('name')?.touched">
                    Please enter a valid Name (only letters and spaces are allowed)
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput readonly [matDatepicker]="picker" formControlName="dob" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="studentForm.get('dob')?.hasError('required') && studentForm.get('dob')?.touched">
                    Date of Birth is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Gender</mat-label>
                  <mat-select type="text" matInput formControlName="gender">
                    <div>
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                      <mat-option value="Other">Other</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('gender')?.hasError('required') && studentForm.get('gender')?.touched">
                    Gender is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Category</mat-label>
                  <mat-select type="text" matInput formControlName="category">
                    <div *ngFor="let category of categorys">
                      <mat-option value="{{category.category}}">{{category.category}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('category')?.hasError('required') && studentForm.get('category')?.touched">
                    Category is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Religion</mat-label>
                  <mat-select type="text" matInput formControlName="religion">
                    <div *ngFor="let religion of religions">
                      <mat-option value="{{religion.religion}}">{{religion.religion}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('religion')?.hasError('required') && studentForm.get('religion')?.touched">
                    Religion is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Nationality</mat-label>
                  <mat-select type="text" matInput formControlName="nationality">
                    <div>
                      <mat-option value="Indian">Indian</mat-option>
                      <mat-option value="Other">Other</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('nationality')?.hasError('required') && studentForm.get('nationality')?.touched">
                    Nationality is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Contact</mat-label>
                  <input matInput type="text" formControlName="contact">
                  <mat-error
                    *ngIf="studentForm.get('contact')?.hasError('required') && studentForm.get('contact')?.touched">
                    Contact is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('contact')?.hasError('pattern') && studentForm.get('contact')?.touched">
                    Please enter a valid Contact (10-digit phone number starting with 6, 7, 8, or 9)
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput type="text" formControlName="address">
                  <mat-error
                    *ngIf="studentForm.get('address')?.hasError('required') && studentForm.get('address')?.touched">
                    Address is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('address')?.hasError('pattern') && studentForm.get('address')?.touched">
                    Please enter a valid Address (only letters and spaces are allowed)
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('address')?.hasError('maxlength') && studentForm.get('address')?.touched">
                    Maximum length exceeded (maximum 50 characters allowed)
                  </mat-error>
                </mat-form-field>
              </div>
              <ng-container>
                <h3>Parent's Info</h3>
              </ng-container>
              <div class="co-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Father Name</mat-label>
                  <input matInput type="text" formControlName="fatherName">
                  <mat-error
                    *ngIf="studentForm.get('fatherName')?.hasError('required') && studentForm.get('fatherName')?.touched">
                    Father name is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('fatherName')?.hasError('pattern') && studentForm.get('fatherName')?.touched">
                    Please enter a valid Father name (only letters and spaces are allowed)
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Father Qualification</mat-label>
                  <mat-select type="text" matInput formControlName="fatherQualification">
                    <div *ngFor="let qualification of qualifications">
                      <mat-option
                        value="{{qualification.qualification}}">{{qualification.qualification}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('fatherQualification')?.hasError('required') && studentForm.get('fatherQualification')?.touched">
                    Father qualification is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Father Occupation</mat-label>
                  <mat-select type="text" matInput formControlName="fatherOccupation">
                    <div *ngFor="let occupation of occupations">
                      <mat-option value="{{occupation.occupation}}">{{occupation.occupation}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('fatherOccupation')?.hasError('required') && studentForm.get('fatherOccupation')?.touched">
                    Father occupation is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Father Contact</mat-label>
                  <input matInput type="text" formControlName="fatherContact">
                  <mat-error
                    *ngIf="studentForm.get('fatherContact')?.hasError('required') && studentForm.get('fatherContact')?.touched">
                    Father contact is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('fatherContact')?.hasError('pattern') && studentForm.get('fatherContact')?.touched">
                    Please enter a valid Contact (10-digit phone number starting with 6, 7, 8, or 9)
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Father Annual Income</mat-label>
                  <input matInput type="text" formControlName="fatherAnnualIncome">
                  <mat-error
                    *ngIf="studentForm.get('fatherAnnualIncome')?.hasError('required') && studentForm.get('fatherAnnualIncome')?.touched">
                    Father annual income is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('fatherAnnualIncome')?.hasError('pattern') && studentForm.get('fatherAnnualIncome')?.touched">
                    Please enter a valid Annual Income (numeric characters only)
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="co-12 col-lg-6">
                <mat-form-field appearance="outline">
                  <mat-label>Mother Name</mat-label>
                  <input matInput type="text" formControlName="motherName">
                  <mat-error
                    *ngIf="studentForm.get('motherName')?.hasError('required') && studentForm.get('motherName')?.touched">
                    Mother name is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('motherName')?.hasError('pattern') && studentForm.get('motherName')?.touched">
                    Please enter a valid Mother name (only letters and spaces are allowed)
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Mother Qualification</mat-label>
                  <mat-select type="text" matInput formControlName="motherQualification">
                    <div *ngFor="let qualification of qualifications">
                      <mat-option
                        value="{{qualification.qualification}}">{{qualification.qualification}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('motherQualification')?.hasError('required') && studentForm.get('motherQualification')?.touched">
                    Mother qualification is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Mother Occupation</mat-label>
                  <mat-select type="text" matInput formControlName="motherOccupation">
                    <div *ngFor="let occupation of occupations">
                      <mat-option value="{{occupation.occupation}}">{{occupation.occupation}}</mat-option>
                    </div>
                  </mat-select>
                  <mat-error
                    *ngIf="studentForm.get('motherOccupation')?.hasError('required') && studentForm.get('motherOccupation')?.touched">
                    Mother occupation is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Mother Contact</mat-label>
                  <input matInput type="text" formControlName="motherContact">
                  <mat-error
                    *ngIf="studentForm.get('motherContact')?.hasError('required') && studentForm.get('motherContact')?.touched">
                    Mother contact is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('motherContact')?.hasError('pattern') && studentForm.get('motherContact')?.touched">
                    Please enter a valid Contact (10-digit phone number starting with 6, 7, 8, or 9)
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Mother Annual Income</mat-label>
                  <input matInput type="text" formControlName="motherAnnualIncome">
                  <mat-error
                    *ngIf="studentForm.get('motherAnnualIncome')?.hasError('required') && studentForm.get('motherAnnualIncome')?.touched">
                    Mother annual income is required
                  </mat-error>
                  <mat-error
                    *ngIf="studentForm.get('motherAnnualIncome')?.hasError('pattern') && studentForm.get('motherAnnualIncome')?.touched">
                    Please enter a valid Annual Income (numeric characters only)
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="submit-button" mat-raised-button type="submit" [disabled]="!studentForm.valid">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>