<mat-toolbar class="header">
  <div class="logo dashbord-logo-margin">
    <img src="../../../assets/logo.png" alt="">
    <span>Vandana Convent School</span>
  </div>
  <div class="col-lg-7">
    <button mat-icon-button>
      <mat-icon class="hamburger-icon" (click)="hamburgerMenu(true)">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div [ngClass]="{'top-hamburger-menu' : false==nav}">
  <mat-toolbar class="hamburger-menu">
    <mat-icon class="close-icon" (click)="hamburgerMenu(false)">close</mat-icon>
    <button mat-menu-item [routerLink]="['/admin/dashboard']" routerLinkActive="active-link" (click)="hamburgerMenu(true)">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item class="menu-button" routerLinkActive="active-link" [routerLink]="['/admin/setting']">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
      <button mat-menu-item class="menu-button" routerLinkActive="active-link" [routerLink]="['/admin/students/admission']">
        <mat-icon>list alt</mat-icon>
        <span>Admission</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/students/fees/class']" routerLinkActive="active-link">
        <mat-icon>currency_rupee</mat-icon>
        <span>Fee Management</span>
      </button>
      <button mat-menu-item class="menu-button" routerLinkActive="active-link" [routerLink]="['/admin/students/admit-card/class']">
        <mat-icon>list alt</mat-icon>
        <span>Admit Cards</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/students/result/class']" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
        <span>Students Result</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/teacher']" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        <span>Teacher</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/student']" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
        <span>Student</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/notification']" routerLinkActive="active-link">
        <mat-icon>notifications</mat-icon>
        <span>Notification</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/class']" routerLinkActive="active-link">
        <mat-icon>note_add</mat-icon>
        <span>Class </span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/subject']" routerLinkActive="active-link">
        <mat-icon>books</mat-icon>
        <span>Subject</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/class-subject']" routerLinkActive="active-link">
        <mat-icon>bookmark</mat-icon>
        <span>Class Subject Group</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/banner']" routerLinkActive="active-link">
        <mat-icon>pages</mat-icon>
        <span>Banner</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/topper']" routerLinkActive="active-link">
        <mat-icon>library_add</mat-icon>
        <span>Topper</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/testimonial']" routerLinkActive="active-link">
        <mat-icon>verified_user</mat-icon>
        <span>Testimonial</span>
      </button>
      <button mat-menu-item class="menu-button" [routerLink]="['/admin/ads']" routerLinkActive="active-link">
        <mat-icon>list alt</mat-icon>
        <span>Ads</span>
      </button>
  </mat-toolbar>
</div>
<!-- <div [ngClass]="{'top-hamburger-menu' : false==nav}">
  <mat-toolbar class="hamburger-menu">
    <mat-icon class="close-icon" (click)="hamburgerMenu(false)">close</mat-icon>
    <button mat-menu-item routerLink="/" routerLinkActive="active-link" (click)="hamburgerMenu(true)">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item  routerLink="/admin/teacher" routerLinkActive="active-link">
      <mat-icon>person_add</mat-icon>
      <span>Teacher</span>
    </button>
    <button mat-menu-item  [routerLink]="['/admin/student']" routerLinkActive="active-link">
      <mat-icon>person</mat-icon>
      <span>Student</span>
    </button>
    <button mat-menu-item  routerLink="/admin/test" routerLinkActive="active-link">
      <mat-icon>assignment</mat-icon>
      <span>Test</span>
    </button>
    <button mat-menu-item  routerLink="/admin/notification" routerLinkActive="active-link">
      <mat-icon>notifications</mat-icon>
      <span>Notification</span>
    </button>
    <button mat-menu-item  routerLink="/admin/class" routerLinkActive="active-link">
      <mat-icon>note_add</mat-icon>
      <span>Class</span>
    </button>
    <button mat-menu-item  routerLink="/admin/subject" routerLinkActive="active-link">
      <mat-icon>books</mat-icon>
      <span>Subject</span>
    </button>
    <button mat-menu-item  routerLink="/admin/class-subject" routerLinkActive="active-link">
      <mat-icon>bookmark</mat-icon>
      <span>Class Subject</span>
    </button>
    <button mat-menu-item  routerLink="/admin/study-material" routerLinkActive="active-link">
      <mat-icon>post_add</mat-icon>
      <span>Study Material</span>
    </button>
    <button mat-menu-item  routerLink="/admin/banner" routerLinkActive="active-link">
      <mat-icon>pages</mat-icon>
      <span>Banner</span>
    </button>
    <button mat-menu-item  routerLink="/admin/ads" routerLinkActive="active-link">
      <mat-icon>info</mat-icon>
      <span>Ads</span>
    </button>
    <button mat-menu-item  routerLink="/admin/topper" routerLinkActive="active-link">
      <mat-icon>library_add</mat-icon>
      <span>Topper</span>
    </button>
    <button mat-menu-item  routerLink="/admin/testimonial" routerLinkActive="active-link">
      <mat-icon>verified_user</mat-icon>
      <span>Testimonial</span>
    </button>
  </mat-toolbar>
</div> -->