<mat-toolbar class="header">
  <button mat-flat-button class="logo">
    <span>zoclass</span>
  </button>
  <button mat-flat-button>
  </button>
  <button mat-flat-button>
  </button>
  <button mat-icon-button>
    <mat-icon style="color: #8d6dff;" (click)="openMenu(true)" class="openMenu">more_vert</mat-icon>
  </button>
</mat-toolbar>
<div [ngClass]="{'top-navbar' : false==nav}">
  <mat-toolbar class="navbar">
    <mat-icon class="close-icon" (click)="openMenu(false)">close</mat-icon>
    <button mat-button class="menu-button" routerLink="/admin/dashboard" routerLinkActive="active-link"
      (click)="openMenu(true)">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/teacher" routerLinkActive="active-link">
      <mat-icon>person_add</mat-icon>
      <span>Teacher</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['/admin/student']" routerLinkActive="active-link">
      <mat-icon>person</mat-icon>
      <span>Student</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/test" routerLinkActive="active-link">
      <mat-icon>assignment</mat-icon>
      <span>Test</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/notification" routerLinkActive="active-link">
      <mat-icon>notifications</mat-icon>
      <span>Notification</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/class" routerLinkActive="active-link">
      <mat-icon>note_add</mat-icon>
      <span>Class</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/subject" routerLinkActive="active-link">
      <mat-icon>books</mat-icon>
      <span>Subject</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/class-subject" routerLinkActive="active-link">
      <mat-icon>bookmark</mat-icon>
      <span>Class Subject</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/study-material" routerLinkActive="active-link">
      <mat-icon>post_add</mat-icon>
      <span>Study Material</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/banner" routerLinkActive="active-link">
      <mat-icon>pages</mat-icon>
      <span>Banner</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/ads" routerLinkActive="active-link">
      <mat-icon>info</mat-icon>
      <span>Ads</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/topper" routerLinkActive="active-link">
      <mat-icon>library_add</mat-icon>
      <span>Topper</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/testimonial" routerLinkActive="active-link">
      <mat-icon>verified_user</mat-icon>
      <span>Testimonial</span>
    </button>
  </mat-toolbar>
</div>