<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 big-container">
      <div class="col-lg-10 offset-lg-1">
        <div class="main-card">
          <h3 style="text-align: center;margin-bottom: 10vh;">Terms of Service</h3>
          <!-- <p>Welcome to the {{schoolInfo?.schoolName}} website ("Website"). These Terms of Service ("Terms") govern your use of our Website and any online payment services offered through it, as well as online admit cards, online exam results, and website security. Please read these Terms carefully before using the Website or making online payments, accessing admit cards, or viewing exam results. By accessing or using the Website or making payments through it, you agree to abide by these Terms. If you do not agree to these Terms, please do not use the Website or its online payment services.</p> -->
          <ng-container>
            <h3>Introduction</h3>
          <p>The {{schoolInfo?.schoolName}} website serves as an online platform to provide information about our school,
            its programs, and to facilitate online payments for various services. These Terms of Service are designed to
            ensure a secure and transparent online experience for all users, in accordance with the guidelines set by
            the Reserve Bank of India (RBI).</p>
          <h3>Acceptance of Terms</h3>
          <p>By accessing or using the Website or making online payments through it, you acknowledge that you have read,
            understood, and agreed to be bound by these Terms. If you disagree with any part of these Terms, please
            refrain from using the Website or its services.</p>
          <h3>Payment Terms and Policies</h3>
          <p>The {{schoolInfo?.schoolName}} Website accepts payments via credit cards, debit cards,upi, and net banking, in
            compliance with RBI regulations.A transaction fee may be applicable for certain payment methods. Any such
            fees will be clearly communicated during the payment process.We employ robust security measures to protect
            your financial information during online transactions. Your data is encrypted and securely processed to
            ensure the safety of your payments.</p>
          <h3>Website Security</h3>
          <p>{{schoolInfo?.schoolName}} prioritizes the security of the Website and user data. We employ advanced security
            measures to protect against unauthorized access and data breaches. However, users are encouraged to take
            precautions when using the Website, such as regularly updating their passwords and not sharing account
            information.</p>
          <h3>User Conduct</h3>
          <p>By using the Website, you agree to conduct yourself in a respectful and lawful manner. Unauthorized access,
            hacking, or fraudulent activities are strictly prohibited.</p>
          <h3>Copyright and Intellectual Property</h3>
          <p>All content on the {{schoolInfo?.schoolName}} Website, including text, images, and multimedia, is owned by
            {{schoolInfo?.schoolName}} and is protected by copyright and intellectual property laws. Please respect our
            intellectual property rights.</p>
          <h3> Limitation of Liability</h3>
          <p>{{schoolInfo?.schoolName}} is not liable for any direct, indirect, incidental, consequential, or punitive
            damages arising from your use of the Website or any services offered through it.</p>
          <h3>Termination:</h3>
          <p>{{schoolInfo?.schoolName}} reserves the right to terminate your access to the Website at its discretion, with
            or without cause.</p>
          <h3>Governing Law:</h3>
          <p>These Terms are governed by the laws of {{schoolInfo?.country}}, and any disputes will be subject to the exclusive
            jurisdiction of the courts in {{schoolInfo?.country}}.</p>
          <h3>Updates to Terms</h3>
          <p>{{schoolInfo?.schoolName}} may update these Terms from time to time to comply with changing regulations or
            improve user experience. Users will be notified of any changes, and continued use of the Website implies
            acceptance of the revised Terms.</p>
          <p>Thank you for choosing {{schoolInfo?.schoolName}}. We aim to provide a secure and informative online experience
            for all our users.</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div class="spinner-container" *ngIf="loader">
  <div class="spinner-overlay" *ngIf="loader">
    <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate"
      strokeWidth="3"></mat-progress-spinner>
  </div>
</div>