<mat-toolbar class="side-navbar">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/dashboard']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard </span>
      </button>
    </li>
    <li class="nav-item"> 
      <button mat-button class="menu-button" [routerLink]="['/admin/setting']" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/online-admission-forms']" routerLinkActive="active-link">
        <mat-icon>app_registration</mat-icon>
        <span>Online Forms</span>
      </button>
    </li> 
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/admission']" routerLinkActive="active-link">
        <mat-icon>dialpad</mat-icon>
        <span>Admissions</span>
      </button>
    </li> 
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/students/student']" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        <span>Students</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/students/fees']" routerLinkActive="active-link">
        <mat-icon>currency_rupee</mat-icon>
        <span>Fee Payments</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/students/admit-card']" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon>
        <span>Admit Cards</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/students/result']" routerLinkActive="active-link">
        <mat-icon>content_paste_search</mat-icon>
        <span>Exam Results</span>
      </button>
    </li>
 
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/notification']" routerLinkActive="active-link">
        <mat-icon>notification_add</mat-icon>
        <span>Notifications</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/teacher']" routerLinkActive="active-link">
        <mat-icon>manage_accounts</mat-icon>
        <span>Teachers</span>
      </button>
    </li> 
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/class']" routerLinkActive="active-link">
        <mat-icon>note_add</mat-icon>
        <span>Classes</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/subject']" routerLinkActive="active-link">
        <mat-icon>menu_book</mat-icon>
        <span>Subjects</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/class-subject']" routerLinkActive="active-link">
        <mat-icon>local_library</mat-icon>
        <span>Class With Subjects</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/banner']" routerLinkActive="active-link">
        <mat-icon>wallpaper</mat-icon>
        <span>Banners</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/topper']" routerLinkActive="active-link">
        <mat-icon>school</mat-icon>
        <span>Toppers</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/testimonial']" routerLinkActive="active-link">
        <mat-icon>sentiment_satisfied</mat-icon>
        <span>Testimonials</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/ads']" routerLinkActive="active-link">
        <mat-icon>desktop_mac
        </mat-icon>
        <span>Ads</span>
      </button>
    </li>
  </ul>
</mat-toolbar>