<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 big-container">
          <div class="col-lg-12">
            <div class="main-card">
              <div class="row">
                <div class="col-12 col-lg-4 pt-2 pb-2">
                  <div class="row">
                    <div class="col-12">
                      <h3>Admin Dashboard</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Students - {{studentCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Teachers - {{teacherCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Classes - {{classCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Subjects - {{subjectCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Class With Subjects - {{classSubjectCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Notifications - {{notificationCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Toppers - {{topperCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Testimonials - {{testimonialCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Banners - {{bannerCountInfo}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4 pt-2 pb-4">
                  <div class="row">
                    <div class="col-10 offset-1 category-card">
                      <h3 class="category-title">Ads - {{adsCountInfo}}</h3>
                    </div>
                  </div>
                </div>








              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner-container" *ngIf="loader">
  <div class="spinner-overlay" *ngIf="loader">
    <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
  </div>
</div>