<app-header></app-header>
<div class="container pt-5 pb-5" *ngIf="!admitCardInfo">
  <div class="row pt-5 pb-5">
    <div class="col-12 col-lg-6 offset-lg-3 login-card" *ngIf="!studentAdmitCardInfo">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 padding">
          <h3>Admit Card</h3>
          <div class="col-12">
            <h2>{{errorMsg}}</h2>
            <form [formGroup]="admitCardForm" (ngSubmit)="admitCard()">
              <mat-form-field appearance="outline">
                <mat-label>Admit Card No.</mat-label>
                <input matInput type="text" formControlName="admitCardNo">
                <mat-hint *ngIf="!admitCardForm.get('admitCardNo')?.valid && admitCardForm.get('admitCardNo')?.touched"
                  class="form-text text-danger">Please enter admit card number.</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>class</mat-label>
                <mat-select type="number" matInput formControlName="class">
                  <div *ngFor="let classInfo of classInfo">
                    <mat-option value="{{classInfo.class}}">{{classInfo.class}}</mat-option>
                  </div>
                </mat-select>
                <mat-hint *ngIf="!admitCardForm.get('class')?.valid && admitCardForm.get('class')?.touched"
                  class="form-text text-danger">Class is required</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Roll Number</mat-label>
                <input matInput type="text" formControlName="rollNumber">
                <mat-hint *ngIf="!admitCardForm.get('rollNumber')?.valid && admitCardForm.get('rollNumber')?.touched"
                  class="form-text text-danger">Please enter roll number.</mat-hint>
              </mat-form-field>
              <button type="submit" mat-raised-button [disabled]="!admitCardForm.valid"
                class="submit-button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="admitCardInfo && studentAdmitCardInfo">
  <div class="row">
    <div #content class="custom-container">
      <div class="table-container">
        <table class="logo-table text-bold">
          <tr>
            <td>
              <img src="../../../../assets/logo.png" alt=""> Vandana Convent School,Guna
            </td>
          </tr>
        </table>
        <table class="info-table">
          <tr>
            <td>
              School Code : 2832
            </td>
            <td>
              {{studentAdmitCardInfo?.examType | titlecase}} Exam Admit Card - 2023
            </td>
            <td>
              Affiliation No. : 1050
            </td>
          </tr>
        </table>
        <table class="info-table">
          <tr>
            <th>Admit Card No. :</th>
            <td>{{studentAdmitCardInfo?.admitCardNo}}</td>
            <td class="text-bold">Roll Number :</td>
            <td>{{studentAdmitCardInfo?.rollNumber}}</td>
            <td class="text-bold">Class :</td>
            <td>{{studentAdmitCardInfo?.class}}th</td>
          </tr>
          <tr>
            <td class="text-bold">Student Name :</td>
            <td>{{studentAdmitCardInfo?.name | titlecase}}</td>
            <td class="text-bold">Father Name :</td>
            <td>Narendra Dhakad</td>
            <td class="text-bold">Mother Name :</td>
            <td>Manisha Dhakad</td>
          </tr>
        </table>


        <table class="custom-table">
          <tr>
            <th>S.No.</th>
            <th>Subject Code</th>
            <th>Subject</th>
            <th>Exam Date</th>
            <th>Exam Timing</th>
          </tr>
          <ng-container *ngIf="processedData && processedData.length > 0">
            <tr *ngFor="let exam of processedData; let i = index">
              <td>
                {{ i + 1 }}
              </td>
              <td>
                100
              </td>
              <td>
                {{ exam.subject | titlecase}}
              </td>
              <td>
                {{ exam.date }}
              </td>
              <td>
                {{ exam.timing }}
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
  <button class="submit-button print-pdf mx-4" mat-raised-button (click)="downloadPDF()">PDF</button>
  <button class="submit-button print-pdf" mat-raised-button (click)="printContent()">Print</button>

</div>