@import'../../../pages/auth/teacher-auth/teacher-login/teacher-login.component.css';
h4{
    color:#8b69f2;
    margin-top: 0 !important;margin-bottom: 0 !important;
}
h3{
    color: #7c7698fb !important;
}

.custom-container {
  font-family: Arial, sans-serif;
  overflow: auto;
}

.table-container {
  border: none;
  padding: 25px;
  margin-left: 10px;
  margin-top: 2vh;
}

.logo-table {
  width: 800px;
  border: none;
  font-size: 1.3em;
  margin-top: 2vh;
  margin-bottom: 5vh;
  letter-spacing: .5px;
  display: inline-table;
}

.logo-table td {height: 40px;
  color: #7c7698fb;
  border: none;
  text-align: center;
}

.info-table {
  width: 800px;
  border: none;
  font-size: 1em;
  letter-spacing: .25px;
  margin-bottom: 5vh;
  display: inline-table;
}
img{
  height: 35px;
}
.info-table td {
  color: #7c7698fb;
  text-align: center;
  border: none;
}

.custom-table {
  width: 800px;
  font-size: 1em;
  letter-spacing: .25px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  display: inline-table;

}

.custom-table th,
.custom-table td {
  height: 40px;
  color: #7c7698fb;
  border: 1px solid rgb(218, 218, 222);
  text-align: center;
}

.center {
  text-align: center;
}
.text-bold{
  font-weight: bold;
}

.print-pdf {
  display: none;
}

@media (min-width: 576px) and (max-width:991.98px) {
  .table-container {
    border: 1px solid #ccc;
  }
  .logo-table {
    width: 100%;
  }
  .info-table{
    width: 100%;
  }
  .custom-table {
    width: 100%;
    font-size: 10px;
  }
  
  .print-pdf {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .table-container {
    border: 1px solid #ccc;
  }
  .logo-table {
    width: 100%;
  }
  .info-table{
    width: 100%;
  }
  .custom-container {
    font-family: Arial, sans-serif;
    overflow: auto;
  }

  .custom-table {
    width: 100%;
  }

  .print-pdf {
    display: inline-block;
  }
}
