/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
  --common-color: #8b69f2;
  --header-height: 11vh;

}

/* 
Header section styling
 */
.header {
  background-color: var(--common-color);
  height: var(--header-height);
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 0 !important;
  display: flex;
  justify-content: space-around;
}
.header button span {
  color: #DAF2F9;
}
.header .logo button{
  background-color: transparent;
}
.header .logo button span{
  font: 1.5em sans-serif;letter-spacing: .5px;
}

.header .main-menu button {
  margin-left: 20px;
}
.header .main-menu .menu-item {
  font: 1.20em sans-serif;
  letter-spacing: .85px;
}


::ng-deep .cdk-overlay-pane .menu-panel {
  width: 250px;
  /* padding: 20px; */
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}

::ng-deep .mat-button:hover {
  background-color: inherit;
  color: inherit;
  cursor: default;
}

/* .main-menu button span{
  
} */


@media (min-width: 576px) and (max-width:991.98px) {
  .header {
    display: none;
  }
}

@media (min-width: 992px) {}