html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

:host {
  /* --common-color: #8c65ff;  */
  --common-color: #fff;  
  --header-height: 10vh;
}

/*
Header section
*/
.header {
  background-color: var(--common-color);
  width: 100%;
  height: var(--header-height);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  padding: 0 !important;
  display: flex;
  justify-content: space-around;
  /* border-bottom :1px solid rgb(240, 239, 244); */
  box-shadow: 0 0 0px -10px #4f3c8a3c,
      0 0 0 0px #4f3c8a3c,
      0 0 40px 0 #4f3c8a3c;
}

.header .logo img {
  height: 40px;
}

.header .logo span {
  margin-left: 5px;
  color: #5a4599;
  /* color: #7f60da; */
  font: 1em sans-serif;
  letter-spacing: .5px;
}

.main-menu {
  display: none;
}

.hamburger-icon {
  fill: #5a4599;
  width: 24px;
  height: 24px;
}

.hamburger-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
  top: 0;
  display: block;
  background-color: #fff;

}

.hamburger-menu button {
  font-size: large;
  color: #5a4599 !important;
}

.hamburger-menu .mat-icon {
  color: #5a4599 !important;
}

.close-icon {
  color: #5a4599 !important;
  font-size: 28px;
  margin-top: 3.5vh;
  margin-left: 88%;
}
.top-hamburger-menu {
  display: none;
}
/* 
  Scrollbar style
  */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dedce6;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d2da;
}

/* 
Side navigation section
*/
.side-navbar {
  display: none;
}

/* 
Dashboard section
*/
.dashboard-container {
  background-color: transparent;
  min-height: 90vh;
  width: 100%;
}

.big-container {
  background-color: #fff;
  width: 100%;
  min-height: 70vh;
  margin-top: 1vh;
}

.main-card {
  min-height: 70vh;
  width: 100%;
  background-color: transparent;
}

.main-card h3 {
  color: #7c7698fb;
  /* color: #8265cbfb; */
  /* margin-top: 2vh; */
  /* margin-left: 5%; */
  letter-spacing: .6px;
  font-size: 18px;
  /* margin-bottom: 5px; */
}

.category-card {
  height: 200px;
  border-radius: 15px;
  /* background-color: #5e48a01b; */
  background-color: #fff;
  box-shadow: 0 0 0px -10px #4f3c8a3c,
      0 0 0 0px #4f3c8a3c,
      0 0 40px 0 #4f3c8a3c;
}

.category-title {
  text-align: center;
}

.form-control {
  height: 45px;
  color: #7c7698fb;
  border: 2px solid #e1dfeed7;
}

.form-control::placeholder {
  color: #b7b5c5f7;
  font-size: 15px;
}

.form-control:focus {
  border-color: #d2d0dfe0;
  box-shadow: 0 0 0 1px #e1dfee66
}

.text-danger {
  font-size: 12px;
}

.submit-button {
  background: #503c8a;
  color: #fff;
  height: 42px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: none;
}

.submit-button.mat-button-disabled:not([class*=mat-elevation-z]) {
  background: #634ca1a4;
  color: #faf7ff;
}

.status-active {
  color: #503c8a;
  cursor: pointer;
  text-decoration: none;
}

.status-inactive {
  color: #7c7698fb;
  cursor: pointer;
  text-decoration: none;
}

.table {
  height: auto;
  display: block;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

th {
  white-space: nowrap;
}

td {
  white-space: nowrap;
}

table mat-icon {
  color: #7c7698fb;
  cursor: pointer;
}

.table p {
  color: #7c7698fb;
}

.pagination {
  display: flex;
  justify-content: center;
}

.modal.fade.show {
  display: block;
  z-index: 10 !important;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  background-color: #fff;
  top: 0;
  position: sticky;
  z-index: 1;
}

.modal-header .modal-title {
  color: #7c7698fb;
}

.modal-header .mat-icon {
  cursor: pointer;
  color: #7c7698fb;
}

.modal-footer {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

.modal-body {
  overflow-y: auto;
  max-height: calc(80vh - 2.3 * 3.5rem);
}

.modal-dialog {
  height: 80vh;
  /* overflow-x: auto; */
}

.scroll-content {
  overflow-x: auto;
}

.wide-content {
  min-width: 185%;
}

.modal-title {
  color: #503c8a;
  font-size: 20px;
}


.delete-button {
  background: #eeecf5;
  color: #4a4a71;
  box-shadow: none;
}

.success-message {
  color: #16b978;
  font-size: 20px;
}

.error-message {
  color: rgb(228, 64, 154);
}

::ng-deep mat-form-field {
  width: 100% !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #7c7698fb !important;

}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #7c7698fb !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #7c7698fb !important;
  opacity: 0.8 !important;
}

::ng-deep .mat-input-element {
  caret-color: #7c7698fb !important;
}

::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #7c7698fb !important;
}

::ng-deep .mat-form-field-label {
  color: #7c7698fb !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #7c7698fb !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #7c7698fb !important;
}

::ng-deep .mat-radio-button {
  color: #7c7698fb;
}

::ng-deep .mat-radio-outer-circle {
  border: 1px solid #7c7698fb;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #503c8a;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #503c8a;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.mat-checkbox {
  color: #7c7698fb;
}

::ng-deep .mat-checkbox-frame {
  border-color: #7c7698fb !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #503c8a !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #503c8a !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #503c8a !important;
}


@media (min-width: 576px) and (max-width:991.98px) {
  .header {
    display: none;
  }

  .side-navbar {
    display: none;
  }

  .dashboard-container {
    display: none;
  }
}

@media (min-width: 992px) {

  /* 
Header section
*/
  /* .dashbord-logo-margin {
    margin-left: 10px;
  } */

  .header .logo img {
    height: 40px;
    margin-right: 10px;
  }

  .header .logo span {
    font: 1.20em sans-serif;
    letter-spacing: .5px;
  }

  .header .main-menu {
    display: inline-block;
  }

  .header .main-menu button {
    color: #5a4599;
    margin-left: 20px;
    cursor: pointer;
  }
  .header .main-menu .menu-item {
    font: 1.20em sans-serif;
    letter-spacing: .85px;
  }

  .hamburger-menu {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  /* 
Side navigation section
*/
  .side-navbar {
    height: 90vh;
    width: 16.5%;
    position: fixed;
    left: 0;
    padding-top: 2vh;
    padding-bottom: 10vh;
    display: block;
    justify-content: space-around;
    background-color: white;
    overflow-x: auto;
  }

  .side-navbar li button {
    color: #503c8a;
    width: 100%;
    padding: 5px;
    display: block;
    flex-direction: column;
  }

  .side-navbar li button .mat-icon {
    display: inline-block;
    margin-left: 5px;
  }

  .side-navbar li button span {
    display: inline-block;
    font-size: 1.12em;
    font-weight: 400;
    /* margin-top: 2px; */
    margin-left: 10px;
  }

  .side-navbar li button.active-link {
    background: #503c8a;
    color: #fff;
  }

  /* 
  Dashboard section 
  */
  .dashboard-container {
    width: auto;
    background-color: #9f98d43e;
    padding-bottom: 1.5vh;
  }

  .big-container {
    background-color: #fff;
    min-height: 90vh;
    width: 98.5%;
    margin-top: 1.5vh;
    margin-left: .75%;
    border-radius: 10px;
  }

  .main-card {
    min-height: 70vh;
    padding-left: 2px;
    padding-right: 2px;
  }

  /* .main-card h3 {
    margin-left: 2%;
  } */

  .table {
    display: inline-table;
    width: 100%;
  }

  .scroll-content {
    overflow-x: auto;
  }

  .wide-content {
    min-width: 100%;
  }
}