<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-1">
      <app-navbar></app-navbar>
    </div>
    <div class="col-12 col-lg-11" style="padding-top: 1.75vh;">
      <div class="row">
        <div class="col-12 col-lg-7 offset-lg-2 big-container">
          <div class="col-12 col-lg-10 offset-lg-1">
            <div class="main-card">
              <div *ngFor="let blogDetail of blogDetails">
                <div class="blog-card">
                  <h4 style="margin-top: 20px;margin-bottom: 10px;">{{blogDetail.subject}}
                    {{blogDetail.class}}</h4>
                  <h2 routerLink="/single/blog/{{blogDetail._id}}"
                    style="color: #392775bf;font-size: 17px;font-weight: 300;cursor: pointer;">{{blogDetail.title}}</h2>
                  <h3 style="color: #c0b9e0;font-size: 15px;font-weight: 200;">{{blogDetail.date}} |
                    {{blogDetail.creator}}</h3>
                  <div routerLink="/single/blog" style="color: #392775bf;font-size: 15px;font-weight: 200;">
                    <p>{{blogDetail.content | slice: 0: 150}}...<span
                        style="cursor: pointer;color: #c0b9e0;font-weight: 400;"
                        routerLink="/single/blog/{{blogDetail._id}}">Read More</span></p>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>